<% if img.id.present? %>
<div id="about_amy_image_<%= img.id %>" class="col-md-4 col-sm-6 item-img mb20" style="position: relative;">
  <img src="<%= img.pic.url(:medium) %>" alt="" class="img-responsive" width="100%" />
  <%= link_to "X", admin_about_amy_image_delete_path(img.id.to_s),:method=>'delete', style: "position: absolute; top: 0px; right: 24px; color: red; font-size: 24px;", :remote=>true,:data=>{:confirm=>"Are you sure?"} %>
</div>
<% end %>