<% if @about_moab_image.errors.any? %>
  alert("Failed to upload picture: <%= j @about_moab_image.errors.full_messages.join(', ').html_safe %>");
<% else %>
  <% @about_moab_image.position = Image.where(imageable_type: 'AboutMoab', imageable_id: @about_moab.id).maximum(:position).to_i + 1 %>
  <% @about_amy_image.slider = "2" if params[:about_amy_asset][:slider].present? %>
  <% @about_moab_image.save %>
  // The issue seems to be when uploading multiple files at once, their positions are all being the same
  // Unfortunately this is the only way i could get the position of the image uploaded to increment and be correct, 
  // I tried putting the code above in before_create and after_create, before_save and after_save callbacks as well as putting the code in the controller but no luck.

  $('#new_about_moab_asset')[0].reset() // basically reset the form
  $('#about_moab_images').append('<%= j render :partial => "about_moab_image", locals: {img: @about_moab_image}  %>')
  // Here you are appending the new images created (@about_moab_image from controller create action) to your exisitng images, hence img: @about_moab_image
  // remember fileupload submits the form for each image. Therefore each image uploaded will go through the create action and therefore through this create.js.erb template
  // So for example if you upload 3 images, you will see this render action in your logs 3 times.
<% end %>