<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit About Moabs Page</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">
              <%= form_for(@about_moabs, :url => admin_pages_about_moabs_update_url, :html => { :multipart => true }) do |f| %>
                <% if @about_moabs.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@about_moabs.errors.count, "error") %> prohibited this Event Index Image from being saved:</h2>

                    <ul>
                    <% @about_moabs.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>


                <div class="form-group">
                  <%= f.label :main_image %>
                  <%= "<br>".html_safe if @about_moabs.main_image.present? %>
                  <%= image_tag(@about_moabs.main_image.url(:medium), width: "180px") if @about_moabs.main_image.present? %>
                  <%= "<br><br>".html_safe if @about_moabs.main_image.present? %>                  
                  <%= f.file_field :main_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :video_link %>
                  <%= f.text_field :video_link, class: "form-control" %>
                </div>
                
                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.cktext_area :description, class: "form-control ckeditor" %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_title %>
                  <%= f.text_field :meta_title, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_description %>
                  <%= f.text_field :meta_description, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>

        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>