<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <div class="row">
          <div class="col-md-12">
            <h1 class="mb30">Welcome to the Admin Dashboard of your website</h1>
            <h4 hidden>
              If you have any questions, please contact Keenability<br><br>
              4181 NW 1st Ave, Suite 8 <br><br>
              Boca Raton, FL 33431 <br><br>
              561.756.9720 <br><br>
            </h4> 
          </div>
        </div>
   
    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>