
<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit Home Page</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">
              <%= form_for(@home_page, :url => admin_pages_home_update_url, :html => { :multipart => true }) do |f| %>
                <% if @home_page.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@home_page.errors.count, "error") %> prohibited this Event Index Image from being saved:</h2>

                    <ul>
                    <% @home_page.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>


                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.cktext_area :description, class: "form-control ckeditor" %>
                </div>

                <div class="form-group">
                  <%= f.label :main_image %>
                  <%= "<br>".html_safe if @home_page.main_image.present? %>
                  <%= image_tag(@home_page.main_image.url(:medium), width: "180px") if @home_page.main_image.present? %>
                  <%= "<br><br>".html_safe if @home_page.main_image.present? %>                  
                  <%= f.file_field :main_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :video_link %>
                  <%= f.text_field :video_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_one_link %>
                  <%= f.text_field :bottom_ad_one_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_one %>
                  <%= "<br>".html_safe if @home_page.bottom_ad_one.present? %>
                  <%= image_tag(@home_page.bottom_ad_one.url(:medium), width: "180px") if @home_page.bottom_ad_one.present? %>
                  <%= "<br><br>".html_safe if @home_page.bottom_ad_one.present? %>                  
                  <%= f.file_field :bottom_ad_one, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_two_link %>
                  <%= f.text_field :bottom_ad_two_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_two %>
                  <%= "<br>".html_safe if @home_page.bottom_ad_two.present? %>
                  <%= image_tag(@home_page.bottom_ad_two.url(:medium), width: "180px") if @home_page.bottom_ad_two.present? %>
                  <%= "<br><br>".html_safe if @home_page.bottom_ad_two.present? %>
                  <%= f.file_field :bottom_ad_two, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_three_link %>
                  <%= f.text_field :bottom_ad_three_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_three %>
                  <%= "<br>".html_safe if @home_page.bottom_ad_three.present? %>
                  <%= image_tag(@home_page.bottom_ad_three.url(:medium), width: "180px") if @home_page.bottom_ad_three.present? %>
                  <%= "<br><br>".html_safe if @home_page.bottom_ad_three.present? %>                  
                  <%= f.file_field :bottom_ad_three, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_title %>
                  <%= f.text_field :meta_title, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_description %>
                  <%= f.text_field :meta_description, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
          
          <div class="row mt70">
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad one" if @home_page.bottom_ad_one.present? %></p>
              <%= image_tag(@home_page.bottom_ad_one.url(:medium), class: "img-responsive", width: '100%') if @home_page.bottom_ad_one.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_home_page_bottom_ad_one_path, style: "color: red;", method: :delete if @home_page.bottom_ad_one.present? %></span>
              <br><br>
            </div>
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad two" if @home_page.bottom_ad_two.present? %></p>
              <%= image_tag(@home_page.bottom_ad_two.url(:medium), class: "img-responsive", width: '100%') if @home_page.bottom_ad_two.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_home_page_bottom_ad_two_path, style: "color: red;", method: :delete if @home_page.bottom_ad_two.present? %></span>
              <br><br>
            </div>
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad three" if @home_page.bottom_ad_three.present? %></p>
              <%= image_tag(@home_page.bottom_ad_three.url(:medium), class: "img-responsive", width: '100%') if @home_page.bottom_ad_three.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_home_page_bottom_ad_three_path, style: "color: red;", method: :delete if @home_page.bottom_ad_three.present? %></span>
              <br><br>
            </div>
          </div>
        </div>


        

    </div> <!-- content  -->

</div> <!-- wrapper  -->




<%= render 'admin/layouts/sidebar_styles_scripts' %>