
    <div class="wrapper">

        <%= render 'admin/layouts/sidebar' %>
        
        <div id="content">

            <%= render 'admin/layouts/sidebar_topnav' %>
         
              <div>

                  <div class="row mt20">
                      <div class="col-md-3 col-sm-4">
                        <%= image_tag(@home_page.main_image.url(:medium), class:'img-responsive') %>
                      </div>

                      <div class="col-md-9 col-sm-8">
                        <h4 class="">Home Page</h4>
                        <%= link_to 'Edit Image Slides', admin_home_page_image_path, class:"btn btn-warning" %>
                      </div>
                  </div>
                  <hr>
                  <div class="row mt20">
                      <div class="col-md-3 col-sm-4">
                        <%= image_tag(@about_moabs.main_image.url(:medium), class:'img-responsive') %>
                      </div>

                      <div class="col-md-9 col-sm-8">
                        <h4 class="">About Moabs</h4>
                        <%= link_to 'Edit Image Slides', admin_about_moab_image_path, class:"btn btn-warning" %>
                      </div>
                  </div>
                  <hr>
                  <div class="row mt20">
                      <div class="col-md-3 col-sm-4">
                        <%= image_tag(@about_amy.background_img.url(:large), class:'img-responsive') %>
                      </div>

                      <div class="col-md-9 col-sm-8">
                        <h4 class="">About Amy</h4>
                        <%= link_to 'Edit Image Slides 1', admin_about_amy_image_path, class:"btn btn-warning" %>
                        <%= link_to 'Edit Image Slides 2', admin_about_amy_image_path(slider: "2"), class:"btn btn-warning" %>
                      </div>
                  </div>
                  <hr>
                  <div class="row mt20">
                      <div class="col-md-3 col-sm-4">
                        <%= image_tag(@partner_with_us.main_image.url(:medium), class:'img-responsive') %>
                      </div>

                      <div class="col-md-9 col-sm-8">
                        <h4 class="">Partner With Us</h4>
                        <%= link_to 'Edit Image Slides', admin_partner_with_u_image_path, class:"btn btn-warning" %>
                      </div>
                  </div>
                  <hr>
                  <div class="row mt20">
                      <div class="col-md-3 col-sm-4">
                        <%= image_tag(@press_page.main_image.url(:medium), class:'img-responsive') %>
                      </div>

                      <div class="col-md-9 col-sm-8">
                        <h4 class="">Press</h4>
                        <%= link_to 'Edit Image Gallery', admin_press_images_path, class:"btn btn-warning" %>
                      </div>
                  </div>
                  <hr>

              </div>
            

        </div> <!-- content  -->

    </div> <!-- wrapper  -->


    <%= render 'admin/layouts/sidebar_styles_scripts' %>