<% if @partner_with_u_image.errors.any? %>
  alert("Failed to upload picture: <%= j @partner_with_u_image.errors.full_messages.join(', ').html_safe %>");
<% else %>
  <% @partner_with_u_image.position = Image.where(imageable_type: 'PartnerWithU', imageable_id: @partner_with_u.id).maximum(:position).to_i + 1 %>
  <% @partner_with_u_image.save %>
  // The issue seems to be when uploading multiple files at once, their positions are all being the same
  // Unfortunately this is the only way i could get the position of the image uploaded to increment and be correct, 
  // I tried putting the code above in before_create and after_create, before_save and after_save callbacks as well as putting the code in the controller but no luck.

  $('#new_partner_with_u_asset')[0].reset() // basically reset the form
  $('#partner_with_u_images').append('<%= j render :partial => "partner_with_u_image", locals: {img: @partner_with_u_image}  %>')
  // Here you are appending the new images created (@partner_with_u_image from controller create action) to your exisitng images, hence img: @partner_with_u_image
  // remember fileupload submits the form for each image. Therefore each image uploaded will go through the create action and therefore through this create.js.erb template
  // So for example if you upload 3 images, you will see this render action in your logs 3 times.
<% end %>