<% provide(:title, 'MOABS | The Mother of All Baby Showers | Blogs') %>
<% content_for :head do%>
  <meta name="description" content="Read the latest articles and updates from Amy Lundy, founder of of The Mother of All Baby Showers.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  
<!-- Twitter Card data --> 
<meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | Blogs"> <meta name="twitter:description" content="Read the latest articles and updates from Amy Lundy, founder of of The Mother of All Baby Showers.”> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px --> <meta name="twitter:image:src" content="http://www.example.com/image.jpg">


<!-- Open Graph data --> 
<meta property="og:title" content="MOABS | The Mother of All Baby Showers | Blogs" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/press" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="Read the latest articles and updates from Amy Lundy, founder of of The Mother of All Baby Showers." /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />

  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "MOABS",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3-us-east-2.amazonaws.com/moabs1/production/homepage/1/slideshow/huge/MOABS_Desktop_Website_Home_Hero01.jpg?1519673445",
       "width": 160,
       "height": 160
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3-us-east-2.amazonaws.com/moabs1/production/homepage/1/slideshow/huge/MOABS_Desktop_Website_Home_Hero01.jpg?1519673445"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Find a MOABS event near you! Browse dates and purchase tickets to an upcoming event in your city, research products, and view your city's event agenda now."
  }
  </script>
<% end %>

<div class="rolando mt40">
  <div id="page">
    <div class="container">
      <div class="row"> 
        <div class="col-md-8 blog-col">
          <% @blogs.each do |blog| %>
            <div class="row mb30">
              <div class="col-sm-6">
                <%= link_to blog_path(blog.title_for_slug) do%>
                  <%= image_tag(blog.main_image.url(:medium), class:'img-responsive', width: "100%") %>
                <% end %>
                </div>
              <div class="col-sm-4 underline_hover">
                <h2><%= link_to blog.title, blog_path(blog.title_for_slug) %></h2>
                <%= link_to blog_path(blog.title_for_slug) do%>
                  <%= HTML_Truncator.truncate(blog.content_index, 40).html_safe %>
                <% end %>
              </div>
            </div>
          <% end %>   
          <!-- <div id="pagination">Pagination Goes Here</div> -->
          <div class="text-center style_paginate" data-last-page="<%= @blogs.total_pages %>">
            <%= will_paginate @blogs %>
          </div>
        </div>
        
        <div class="col-md-2 blog-cats">
          <ul class="no-gutters">
            <li><strong>Categories</strong></li>
            <li><a href="/blogs">All</a></li>
            <% @categories.each do |category| %>
              <li><a href="/blogs/categories/<%= category.category_slug %>"><%= category.name %></a></li>
            <% end %>
          </ul>
        </div>
        
        <div class="col-md-2 hidden-sm hidden-xs">
          <%= link_to @blog_index.side_ad_link, target: '_blank' do %>
            <%= image_tag(@blog_index.side_ad.url(:medium), class: "center-block img-responsive") if @blog_index.side_ad.present? %>
          <% end if @blog_index.side_ad.present? %>
        </div>
      </div>
      
      <div class="row mb50 hr-noborder">
        <div class="col-md-4 mt30">
          <%= link_to @blog_index.bottom_ad_one_link, target: '_blank' do %>
            <%= image_tag(@blog_index.bottom_ad_one.url(:medium), class: "img-responsive") if @blog_index.bottom_ad_one.present? %>
          <% end if @blog_index.bottom_ad_one.present? %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @blog_index.bottom_ad_two_link, target: '_blank' do %>
            <%= image_tag(@blog_index.bottom_ad_two.url(:medium), class: "img-responsive") if @blog_index.bottom_ad_two.present? %>
          <% end if @blog_index.bottom_ad_two.present? %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @blog_index.bottom_ad_three_link, target: '_blank' do %>
            <%= image_tag(@blog_index.bottom_ad_three.url(:medium), class: "img-responsive") if @blog_index.bottom_ad_three.present? %>
          <% end if @blog_index.bottom_ad_three.present? %>
        </div>
      </div>

    </div>
  </div>
</div>
