<% provide(:title, "MOABS | The Mother of All Baby Showers | #{@blog.title}") %>
<% content_for :head do%>
  <meta name="description" content="<%= @blog.meta_description if @blog.meta_description.present? %>">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="<%= "MOABS | The Mother of All Baby Showers | #{@blog.title}" %>"> <meta name="twitter:description" content="<%= @blog.meta_description if @blog.meta_description.present? %>"> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="<%= "MOABS | The Mother of All Baby Showers | #{@blog.title}" %>" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/partner-with-us" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="<%= @blog.meta_description if @blog.meta_description.present? %>" /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />
 
 <script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "Website",
 "publisher": {
   "@type": "Person",
   "name": "MOABS",
   "logo": {
     "@type": "ImageObject",
     "url": "<%= @blog.main_image.url(:medium) %>",
     "width": 160,
     "height": 160
   }
 },
 "url": "<%= request.url %>",
 "image": {
   "@type": "ImageObject",
   "url": "<%= @blog.main_image.url(:medium) %>"
 },
 "mainEntityOfPage": {
   "@type": "WebPage",
   "@id": "<%= request.url %>"
 },
 "description": "<%= @blog.meta_description if @blog.meta_description.present? %>"
}
</script>
<% end %>


<div class="rolando mt40">
  <div id="page">
    <div class="container">
      <div class="row"> 
        <div class="col-md-7 blog-col">
            <div class="col">
              <h2 class="mt0"><%= @blog.title %></h2>
              <p class="mb15"><%= @blog.pubdate.strftime("%B %d, %Y") %>
                <a href='<%= "https://www.facebook.com/sharer/sharer.php?u=#{request.url}" %>' class="ml25" target="blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href='<%= "http://www.twitter.com/intent/tweet?text=#{@blog.meta_description}&url=#{request.url}" %>' class="ml7" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href='<%= "https://www.linkedin.com/cws/share?url=#{request.url}" %>' class="ml7" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </p>

              <%= image_tag(@blog.main_image.url(:large), class:'img-responsive') %>
              <p class="mt20"><%= @blog.content.html_safe %></p>
            </div>
        </div>
        
        <div class="col-md-2 blog-cats">
          <ul class="no-gutters">
            <li><strong>Categories</strong></li>
            <li><a href="/blogs">All</a></li>
            <% Category.all.each do |category| %>
              <li><a href="/blogs/categories/<%= category.category_slug %>"><%= category.name %></a></li>
            <% end %>
          </ul>
          <div id="related-posts">
            <h3><strong>Related Posts</strong></h3>
            <% Blog.where(category_id: @blog.category_id).where.not(id: @blog.id).last(3).each do |rblog| %>
              <div>
                <%= link_to blog_path(rblog.title_for_slug) do %> 
                  <%= image_tag(rblog.main_image.url(:medium), class:'img-responsive') %>
                <% end %>
                <h4><%= link_to rblog.title, blog_path(rblog.title_for_slug)%></h4>
                <%= link_to blog_path(rblog.title_for_slug) do%>
                  <%= HTML_Truncator.truncate(rblog.content_index, 20).html_safe %>
                <% end %>
              </div>         
            <% end %>
          </div>
        </div>
        
        <div class="col-md-2 hidden-sm hidden-xs">
          <%= link_to @blog.side_ad_link, target: '_blank' do %>
            <%= image_tag(@blog.side_ad.url(:medium), class: "center-block img-responsive") if @blog.side_ad.present? %>
          <% end if @blog.side_ad.present? %>
        </div>
      </div>
      
      <div class="row mb50 hr-noborder">
        <div class="col-md-4 mt30">
          <%= link_to @blog.bottom_ad_one_link, target: '_blank' do %>
            <%= image_tag(@blog.bottom_ad_one.url(:medium), class: "center-block", width: '300') if @blog.bottom_ad_one.present? %>
          <% end if @blog.bottom_ad_one.present? %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @blog.bottom_ad_two_link, target: '_blank' do %>
            <%= image_tag(@blog.bottom_ad_two.url(:medium), class: "center-block", width: '300') if @blog.bottom_ad_two.present? %>
          <% end if @blog.bottom_ad_two.present? %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @blog.bottom_ad_three_link, target: '_blank' do %>
            <%= image_tag(@blog.bottom_ad_three.url(:medium), class: "center-block", width: '300') if @blog.bottom_ad_three.present? %>
          <% end if @blog.bottom_ad_three.present? %>
        </div>
      </div>

    </div>
  </div>
</div>
