<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit Event</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">
              <%= form_for(@event, :url => (admin_update_event_url(@event.title_for_slug)), :html => { :multipart => true }) do |f| %>
                <% if @event.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

                    <ul>
                    <% @event.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :city %>
                  <%= f.text_field :city, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :cover_image %>
                  <%= "<br>".html_safe if @event.cover_image.present? %>
                  <%= image_tag(@event.cover_image.url(:medium), width: "180px") if @event.cover_image.present? %>
                  <%= "<br><br>".html_safe if @event.cover_image.present? %>                  
                  <%= f.file_field :cover_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :main_image %>
                  <%= "<br>".html_safe if @event.main_image.present? %>
                  <%= image_tag(@event.main_image.url(:medium), width: "180px") if @event.main_image.present? %>
                  <%= "<br><br>".html_safe if @event.main_image.present? %> 
                  <%= f.file_field :main_image, class: "form-control" %>
                </div>
                
                <div class="form-group">
                  <%= f.label :video_link %>
                  <%= f.text_field :video_link, class: "form-control" %>
                </div>
                
                <div class="form-group">
                  <%= f.label :icon %>
                  <%= f.file_field :icon, class: "form-control" %>
                </div>
                
                <div class="form-group">
                  <%= f.label :event_date %>
                  <%= f.date_field :event_date, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :event_description %>
                  <%= f.cktext_area :event_description, class: "form-control ckeditor", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :address %>
                  <%= f.text_field :address, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :location_description %>
                  <%= f.cktext_area :location_description, class: "form-control ckeditor", required: true %>
                </div>

                <br>
                <div class="form-group">
                  <%= f.label :partners %><br><br>
                  <%= f.collection_check_boxes(:partner_ids, Partner.all, :id, :name) do |b| %>
                      <%= b.label class:"label-checkbox" do%>
                       <%=b.check_box + b.text%>
                      <%end%>
                  <% end %>
                </div>
                <br>

                <div class="form-group">
                  <%= f.label :agenda_description %>
                  <%= f.cktext_area :agenda_description, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label "Purchase link" %>
                  <%= f.text_field :eventbrite_link, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :side_ad_one_image %>
                  <%= "<br>".html_safe if @event.side_ad_one_image.present? %>
                  <%= image_tag(@event.side_ad_one_image.url(:medium), width: "180px") if @event.side_ad_one_image.present? %>
                  <%= "<br><br>".html_safe if @event.side_ad_one_image.present? %>                   
                  <%= f.file_field :side_ad_one_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :side_ad_one_link %>
                  <%= f.text_field :side_ad_one_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :ad_one_image %>
                  <%= "<br>".html_safe if @event.ad_one_image.present? %>
                  <%= image_tag(@event.ad_one_image.url(:medium), width: "180px") if @event.ad_one_image.present? %>
                  <%= "<br><br>".html_safe if @event.ad_one_image.present? %>                   
                  <%= f.file_field :ad_one_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :ad_one_link %>
                  <%= f.text_field :ad_one_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :ad_two_image %>
                  <%= "<br>".html_safe if @event.ad_two_image.present? %>
                  <%= image_tag(@event.ad_two_image.url(:medium), width: "180px") if @event.ad_two_image.present? %>
                  <%= "<br><br>".html_safe if @event.ad_two_image.present? %>    
                  <%= f.file_field :ad_two_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :ad_two_link %>
                  <%= f.text_field :ad_two_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :ad_three_image %>
                  <%= "<br>".html_safe if @event.ad_three_image.present? %>
                  <%= image_tag(@event.ad_three_image.url(:medium), width: "180px") if @event.ad_three_image.present? %>
                  <%= "<br><br>".html_safe if @event.ad_three_image.present? %>  
                  <%= f.file_field :ad_three_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :ad_three_link %>
                  <%= f.text_field :ad_three_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_title %>
                  <%= f.text_field :meta_title, class: "form-control", required: true %>
                </div>
                
                <div class="form-group">
                  <%= f.label :meta_description %>
                  <%= f.text_field :meta_description, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>

          
          <div class="row mt70">
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad one" if @event.ad_one_image.present? %></p>
              <%= image_tag(@event.ad_one_image.url(:medium), class: "img-responsive", width: '100%') if @event.ad_one_image.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_ad_one_image_path, style: "color: red;", method: :delete if @event.ad_one_image.present? %></span>
              <br><br>
            </div>
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad two" if @event.ad_two_image.present? %></p>
              <%= image_tag(@event.ad_two_image.url(:medium), class: "img-responsive", width: '100%') if @event.ad_two_image.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_ad_two_image_path, style: "color: red;", method: :delete if @event.ad_two_image.present? %></span>
              <br><br>
            </div>
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad three" if @event.ad_three_image.present? %></p>
              <%= image_tag(@event.ad_three_image.url(:medium), class: "img-responsive", width: '100%') if @event.ad_three_image.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_ad_three_image_path, style: "color: red;", method: :delete if @event.ad_three_image.present? %></span>
              <br><br>
            </div>
            <div class="col-md-4" style="position: relative;">
              <p><%= "Side ad" if @event.side_ad_one_image.present? %></p>
              <%= image_tag(@event.side_ad_one_image.url(:medium), class: "img-responsive", width: '100%') if @event.side_ad_one_image.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_side_ad_one_image_path, style: "color: red;", method: :delete if @event.side_ad_one_image.present? %></span>
              <br><br>
            </div>
          </div>

        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->

<style>
  .label-checkbox{
    margin-right: 20px;
  }
  .label-checkbox input{
    margin-right: 5px;
  }
</style>


<%= render 'admin/layouts/sidebar_styles_scripts' %>