<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">List events &nbsp;<a href="/admin/events/new" class="btn btn-primary">Add new</a></h1>
        
          <div>
              <% @events.each do |event| %>
                <div class="row mt20">
                    <div class="col-md-3 col-sm-4">
                      <%= image_tag(event.cover_image.url(:medium), class:'img-responsive') if event.main_image.present?%>
                    </div>

                    <div class="col-md-9 col-sm-8">
                      <h4 class=""><%= event.city %></h4>

                      <p class="small"><%= event.event_date.strftime("%B %d, %Y") %></p>

                      <div class="mt15 mb15">
                        <%= HTML_Truncator.truncate(event.event_description, 50).html_safe %>
                      </div>

                      <%= link_to 'Edit', admin_edit_event_path(event.title_for_slug), class:"btn btn-warning" %>

                      <%= link_to 'Destroy', admin_destroy_event_path(event.title_for_slug), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
                <hr>
              <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

<%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@listing.latitude}%2C#{@listing.longitude}" %>
