<% if current_user.try(:admin) || current_user.email.split("@")[0] == @partner.title_for_slug %>
<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit Partner</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">

              <%= form_for(@partner, :url => (admin_update_partners_path(@partner.title_for_slug)), :html => { :multipart => true }) do |f| %>
                <% if @partner.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

                    <ul>
                    <% @partner.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <% if current_user.try(:admin) %>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control", required: true %>
                </div>
                <% end %>
                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.cktext_area :description, class: "form-control ckeditor" %>
                </div>

                <div class="form-group">
                  <%= f.label :main_image %>
                  <%= "<br>".html_safe if @partner.main_image.present? %>
                  <%= image_tag(@partner.main_image.url(:medium), width: "180px") if @partner.main_image.present? %>
                  <%= "<br><br>".html_safe if @partner.main_image.present? %>
                  <%= f.file_field :main_image, style: "padding: 4px;" %>
                </div>

                <div class="form-group">
                  <%= f.label :weblink %>
                  <%= f.text_field :weblink, class: "form-control", required: true %>
                </div>
                
                <div class="form-group">
                  <%= f.label :testimonial %>
                  <%= f.text_field :testimonial, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :testimonial_author %>
                  <%= f.text_field :testimonial_author, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_description %>
                  <%= f.text_field :meta_description, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>
<% end %>