<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>
     
          <div>
              <% @partners.each do |partner| %>
              <% if !current_user.try(:admin) && current_user.email.split("@")[0] == partner.title_for_slug %>
                <div class="row mt20">
                    <div class="col-md-3 col-sm-4">
                      <%= image_tag(partner.main_image.url(:medium), class:'img-responsive') %>
                    </div>

                    <div class="col-md-9 col-sm-8">
                      <h4 class=""><%= partner.name %></h4>

                      <%= link_to 'Edit Image Slides', admin_partner_image_path(partner.title_for_slug), class:"btn btn-warning" %>

                    </div>

                </div>
                <hr>
              <% elsif current_user.try(:admin) %>
                <div class="row mt20">
                    <div class="col-md-3 col-sm-4">
                      <%= image_tag(partner.main_image.url(:medium), class:'img-responsive') %>
                    </div>

                    <div class="col-md-9 col-sm-8">
                      <h4 class=""><%= partner.name %></h4>

                      <%= link_to 'Edit Image Slides', admin_partner_image_path(partner.title_for_slug), class:"btn btn-warning" %>

                    </div>

                </div>
                <hr>
              <% end %>
              <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>