<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <% if current_user.try(:admin) %>
          <h1 class="mb30">List partners &nbsp;<a href="/admin/partners/new" class="btn btn-primary">Add new</a></h1>
        <% end %>

          <div>
              <% @partners.each do |partner| %>
                <% if !current_user.try(:admin) && current_user.email.split("@")[0] == partner.title_for_slug %>
                <div class="row mt20">
                    <div class="col-md-3 col-sm-4">
                      <%= image_tag(partner.main_image.url(:medium), class:'img-responsive') if partner.main_image.present?%>
                    </div>

                    <div class="col-md-9 col-sm-8">
                      <h4 class=""><%= partner.name %></h4>

                      <%= link_to 'Edit', admin_edit_partners_path(partner.title_for_slug), class:"btn btn-warning" %>

                      <%= link_to 'Destroy', admin_destroy_partners_path(partner.title_for_slug), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin) %>
                    </div>
                </div>
                <hr>
                <% elsif current_user.try(:admin) %>
                  <div class="row mt20">
                      <div class="col-md-3 col-sm-4">
                        <%= image_tag(partner.main_image.url(:medium), class:'img-responsive') if partner.main_image.present?%>
                      </div>

                      <div class="col-md-9 col-sm-8">
                        <h4 class=""><%= partner.name %></h4>

                        <%= link_to 'Edit', admin_edit_partners_path(partner.title_for_slug), class:"btn btn-warning" %>

                        <%= link_to 'Destroy', admin_destroy_partners_path(partner.title_for_slug), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin) %>
                      </div>
                  </div>
                  <hr>
                <% end %>
              <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>



















<% if false %>
<section class="bg-light-grey">

  <div class="container">
  <%= link_to 'New Blog', new_blog_path, class:"btn btn-primary" if current_user.try(:admin?)%>

    <% @blogs.each do |blog| %>
    <div class="row">
      
      <div class="col-sm-4 mb15">
        <%= link_to blog_path(blog.title_for_slug) do %> 
          <%= image_tag(blog.images[0].pic.url(:medium), class:'img-responsive') if blog.images.present?%>
        <% end %>
      </div>
      <div class="col-sm-8">
        <h4><%= link_to blog.title, blog_path(blog.title_for_slug), class: 'h2' %></h4>
        <p><%= HTML_Truncator.truncate(blog.content_index, 150).html_safe %></p>
        <div class="mt30 pull-right">
          <%= link_to 'Read More', blog_path(blog.title_for_slug), class:"btn btn-primary" %>
          <%= link_to 'Edit', edit_blog_path(blog.title_for_slug), class:"btn btn-primary" if current_user.try(:admin?)%>
          <%= link_to 'Destroy', blog_path(blog.title_for_slug), class:"btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
        </div>
      </div>
    </div>
  <% end %>

  </div>
  
</section>
<% end %>