<% if current_user.try(:admin) || current_user.email.split("@")[0] == @partner.title_for_slug %>

<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>
           
            <div class="row">

                <div class="col-sm-12 text-center mb35">

                    <h1 class="mb30"><%= @partner.name %> Slideshow Images</h1>

                    <%= form_for(@partner_image, url:  admin_partner_image_create_path(@partner.title_for_slug), :html => { :multipart => true }) do |f| %>
                      <% if @partner_image.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@partner_image.errors.count, "error") %> prohibited this gallery image from being saved:</h2>
                          <ul>
                          <% @partner_image.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <div class="form-group">
                        <%= f.hidden_field :imageable_type, value: 'Partner'  %>
                        <%= f.hidden_field :imageable_id, value: @partner.id  %>
                        <div class="dropzone" id="partner_dropzone">
                          <%= f.label :pic, "Add Images", class: "btn btn-primary" %>
                          <%= f.file_field :pic, multiple: true, name: "partner_image[pic]", class: "hide", required: true %>  
                        </div>
                      </div>

                      <!-- This is the progress bar showing the upload -->
                      <script id="template-upload" type="text/x-tmpl">
                        <div class="upload">
                          {%= "Uploading " + o.name + " (this bar will disappear once upload is complete)"%}
                          <div class="progress"><div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div></div>
                        </div>
                      </script>

                      <div class="form-group">
                        <%= f.submit "Upload", class: "form-control btn btn-primary hide" %>
                      </div>
                    <% end %>

                  </div>

                  <div id="partner_images" data-update-url="<%= admin_partner_image_sort_path %>">
                    <% @partner_images.each do | img | %>
                      <%= render partial: 'partner_image', locals: {img: img} %>
                    <% end %>
                  </div>

          </div>


        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>



<style>
  .dropzone {
    text-align: center;
    /*margin-top: 20px;*/
    padding-top: 30px;
    padding-bottom: 30px;
     border: 2px dashed #ddd;
  }
  .hide {
    display: none;
  }
  #partner_images img:hover {
    cursor: move;
  }
  .x_delete:hover {
    cursor: pointer;
  }
</style>
<% end %>