<% provide(:title, 'MOABS | The Mother of All Baby Showers | Cribs for Kids') %>
<% content_for :head do%>
  <meta name="description" content="MOABS partner Cribs for Kids is a national infant safe-sleep education program that helps reduce risk of injury or death in unsafe sleeping environments.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->

  <!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | Cribs for Kids"> <meta name="twitter:description" content="MOABS partner Cribs for Kids is a national infant safe-sleep education program that helps reduce risk of injury or death in unsafe sleeping environments."> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="MOABS | The Mother of All Baby Showers | Cribs for Kids" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/cribs-for-kids" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="MOABS partner Cribs for Kids is a national infant safe-sleep education program that helps reduce risk of injury or death in unsafe sleeping environments." /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />
<% end %>

<div class="rolando">
  <div id="page" class="p-3">
    <div class="container mb50">
      <div class="row mt40"> 
        <div class="col-md-6 col-sm-6">
          <h1 class="mt5">Cribs For Kids</h1>
          <p><a class="a-sim" href="http://www.cribsforkids.org" target="blank">www.cribsforkids.org</a></p> <br>
          <p>Cribs for Kids® is a national infant safe-sleep education program that helps to reduce the risk of injury and death of infants due to accidental suffocation, asphyxia, or undetermined causes in unsafe sleeping environments.  Since 1998, Cribs for Kids® has been making an impact on reducing the rate of infant sleep-related deaths by educating parents and caregivers on the importance of practicing safe sleep for their babies and by providing portable cribs to families who, otherwise, cannot afford a safe place for their babies to sleep.</p> <br>
          <p> Headquartered in Pittsburgh, Cribs for Kids® currently has more than 700 Partners throughout the United States implementing our infant safe sleep program in their communities. All education is based on the AAP Guidelines for Infant Sleep Safety.</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <img src="https://s3.us-east-2.amazonaws.com/moabs1/featured_partners/cribs_for_kids/main_image/cribs-for-kids-logo.jpg" class="img-responsive" />
        </div>      
      </div>
      <div class="row hr-noborder"> 
        <div class="col-md-6 col-sm-6 align-self-center">
          <div class="quote2">
            "Cribs for Kids® is a national infant safe-sleep education program that helps to reduce the risk of injury and death of infants due to accidental suffocation, asphyxia, or undetermined causes in unsafe sleeping environments."
          </div>
          <div class="quote-person2">
            Cribs for Kids
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="https://s3.us-east-2.amazonaws.com/moabs1/featured_partners/cribs_for_kids/carousel/crib-gallery-1.jpg" alt="" width="100%">
                </div>
                <div class="item">
                  <img src="https://s3.us-east-2.amazonaws.com/moabs1/featured_partners/cribs_for_kids/carousel/cribs-for-kids-gallery-2.jpg" alt="" width="100%">
                </div>
                <div class="item">
                  <img src="https://s3.us-east-2.amazonaws.com/moabs1/featured_partners/cribs_for_kids/carousel/cribs-gallery-3.jpg" alt="" width="100%">
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>      
      </div>    
    </div>
  </div>
</div>



<style>
    .right.carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    right: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  .left.carousel-control .fa-chevron-left {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    left: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
</style>