<% provide(:title, 'MOABS | The Mother of All Baby Showers | Partner') %>
<% content_for :head do%>
  <meta name="description" content="Description: Want to reach thousands of new and expecting parents eager to learn all about your pregnancy and parenting products or services? Partner with MOABS now!">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>


<div class="container mt15 mb50">


  <div class="row mb10">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3 class="homeh3">Partners</h3>
      </div>
      <div class="col-md-1"></div>
  </div>


  <div class="row">
    
    <div class="col-md-2 col-sm-4 col-xs-12 mb20 col-md-offset-1">
      <a href="/partners/cribs-for-kids">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/cribs-for-kids-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20 col-md-offset-1">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>

<!-- 
    <div class="col-md-2 col-sm-4 col-xs-12 mb20 col-md-offset-1">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    
    <div class="col-md-2 col-sm-4 col-xs-12 mb20 col-md-offset-1">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <img src="http://via.placeholder.com/300x300" class="img-responsive center-block" />
    </div> -->



  </div> <!-- ./row  -->
</div> <!-- ./container  -->