<% provide(:title, 'MOABS | The Mother of All Baby Showers | Partners') %>
<% content_for :head do%>
  <meta name="description" content="The Mother of All Baby Showers has partnered with many local and national brands to bring attendees the latest and greatest pregnancy and parenting resources.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  
<!-- Twitter Card data --> 
<meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | Partners"> <meta name="twitter:description" content="The Mother of All Baby Showers has partnered with many local and national brands to bring attendees the latest and greatest pregnancy and parenting resources."> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px --> <meta name="twitter:image:src" content="http://www.example.com/image.jpg">


<!-- Open Graph data --> 
<meta property="og:title" content="MOABS | The Mother of All Baby Showers | Partners" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/press" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="The Mother of All Baby Showers has partnered with many local and national brands to bring attendees the latest and greatest pregnancy and parenting resources." /> <meta property="og:site_name" content=“The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />

  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "MOABS",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3-us-east-2.amazonaws.com/moabs1/production/homepage/1/slideshow/huge/MOABS_Desktop_Website_Home_Hero01.jpg?1519673445",
       "width": 160,
       "height": 160
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3-us-east-2.amazonaws.com/moabs1/production/homepage/1/slideshow/huge/MOABS_Desktop_Website_Home_Hero01.jpg?1519673445"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "The Mother of All Baby Showers has partnered with many local and national brands to bring attendees the latest and greatest pregnancy and parenting resources."
  }
  </script>
<% end %>


<div class="container mt15 mb50">


  <div class="row mb10">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3 class="homeh3">Partners</h3>
      </div>
      <div class="col-md-1"></div>
  </div>


  <div class="row">

    <% @partners.each_with_index do |partner, i| %>
      <% if partner.description.present? %>
        <% if i % 5 == 0 %> 
        <div class="col-md-2 col-sm-4 col-xs-12 mb20 col-md-offset-1">
        <% else %>
        <div class="col-md-2 col-sm-4 mb20">
        <% end %>
          <% if partner.description.present? %>
            <a href="<%= partner_path(partner.title_for_slug) %>">
          <% else %>
            <a href="<%= partner.weblink %>" target="blank">
          <% end %>
              <%= image_tag(partner.main_image.url(:small), class: "img-responsive center-block") %>
            </a>
          <%# end %>
          <!-- <a href="/partners/cribs-for-kids">
            <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/cribs-for-kids-partner-logo.jpg" class="img-responsive center-block" />
          </a> -->
        </div>
      <% end %>
    <% end %>
    
<!--     <div class="col-md-2 col-sm-4 col-xs-12 mb20 col-md-offset-1">
      <a href="/partners/cribs-for-kids">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/cribs-for-kids-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20 col-md-offset-1">
      <a href="/partners/la-croix">
        <img src="https://s3.us-east-2.amazonaws.com/moabs1/partners/lacroix-partner-logo.jpg" class="img-responsive center-block" />
      </a>
    </div> -->

  </div> <!-- ./row  -->
</div> <!-- ./container  -->