<% provide(:title, 'MOABS | The Mother of All Baby Showers | Lacroix Sparkling Water') %>
<% content_for :head do%>
  <meta name="description" content="MOABS partner LaCroix Sparkling Water serves as a healthy and naturally delicious alternative to artificially-sweetened beverages. Available in 21 flavors.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->

  <!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | LaCroix Sparkling Water"> <meta name="twitter:description" content="MOABS partner LaCroix Sparkling Water serves as a healthy and naturally delicious alternative to artificially-sweetened beverages. Available in 21 flavors."> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="MOABS | The Mother of All Baby Showers | LaCroix Sparkling Water" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/lacroix-sparkling-water" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="MOABS partner LaCroix Sparkling Water serves as a healthy and naturally delicious alternative to artificially-sweetened beverages. Available in 21 flavors." /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />
<% end %>

<div class="rolando">
  <div id="page" class="p-3">
    <div class="container mb50">
      <div class="row mt40"> 
        <div class="col-md-6 col-sm-6">
          <h1 class="mt5">LaCroix</h1>
          <p><a class="a-sim" href="http://www.lacroixwater.com" target="blank">www.lacroixwater.com</a></p> <br>
          <p>LaCroix® Sparkling Water, the fastest growing natural sparkling water brand in the U.S., serves as a healthy – and naturally delicious – alternative to artificially-sweetened beverages. Distinctive packaging, robust aroma, and natural essence make LaCroix the ‘innocent’ alternative to sweetened beverages for health-conscious consumers.  LaCroix’s 21 flavors, including newly introduced Tangerine, are flavored with a hint of natural fruit essence. Moms and moms-to-be value the natural wholesomeness of LaCroix – they feel good about serving their families a delicious beverage that is free of calories, sweetener, caffeine and gluten.</p> <br>
          <p>LaCroix’s dynamic ‘theme’ LaCroix Cúrate™ (“Cure Yourself”) celebrates French sophistication and the Spanish zest for life with its newest unique flavor combinations – Melón Pomelo (Cantaloupe Pink Grapefruit), Kiwi Sandía (Kiwi Watermelon) and Muré Pepino (Blackberry Cucumber). In tall 12 oz. cans with striking graphics, Cúrate now offers 6 delicious flavor options.</p> <br>
          <p>
            Produced in the U.S., LaCroix boasts a lower carbon footprint than imported sparkling waters.  LaCroix is part of the National Beverage family of iconic brands.
            <br><br>
            Enjoy LaCroix!
          </p>
        </div>
        <div class="col-md-6 col-sm-6">
          <img src="https://s3.us-east-2.amazonaws.com/moabs1/featured_partners/lacroix/main_image/lacroix-partner-main-image.jpg" class="img-responsive" />
        </div>      
      </div>
      <div class="row hr-noborder"> 
        <div class="col-md-6 col-sm-6 align-self-center">
          <div class="quote2">
            "LaCroix® Sparkling Water, the fastest growing natural sparkling water brand in the U.S., serves as a healthy – and naturally delicious – alternative to artificially-sweetened beverages."
          </div>
          <div class="quote-person2">
            LaCroix
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="https://s3.us-east-2.amazonaws.com/moabs1/featured_partners/lacroix/carousel/lacroix-ad-gallery.jpg" alt="" width="100%">
                </div>
                <div class="item">
                  <img src="https://s3.us-east-2.amazonaws.com/moabs1/featured_partners/lacroix/carousel/lacroix-booth.jpg" alt="" width="100%">
                </div>
                <div class="item">
                  <img src="https://s3.us-east-2.amazonaws.com/moabs1/featured_partners/lacroix/carousel/lacroix-sample-gallery.jpg" alt="" width="100%">
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>      
      </div>    
    </div>
  </div>
</div>



<style>
    .right.carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    right: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  .left.carousel-control .fa-chevron-left {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    left: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
</style>