<% provide(:title, "MOABS | The Mother of All Baby Showers | #{@partner.name}") %>
<% content_for :head do%>
  <meta name="description" content="<%= ActionView::Base.full_sanitizer.sanitize(@partner.description.gsub(/(?:\n\r?|\r\n?)/, '<br />')).truncate(50) %>">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="<%= "MOABS | The Mother of All Baby Showers | #{@partner.name}" %>"> <meta name="twitter:description" content="<%= ActionView::Base.full_sanitizer.sanitize(@partner.description.gsub(/(?:\n\r?|\r\n?)/, '<br />')).truncate(50) %>"> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="<%= "MOABS | The Mother of All Baby Showers | #{@partner.name}" %>" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/partner-with-us" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="<%= ActionView::Base.full_sanitizer.sanitize(@partner.description.gsub(/(?:\n\r?|\r\n?)/, '<br />')).truncate(50) %>" /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />
 
 <script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "Website",
 "publisher": {
   "@type": "Person",
   "name": "MOABS",
   "logo": {
     "@type": "ImageObject",
     "url": "<%= @partner.main_image.url(:medium) %>",
     "width": 160,
     "height": 160
   }
 },
 "url": "<%= request.url %>",
 "image": {
   "@type": "ImageObject",
   "url": "<%= @partner.main_image.url(:medium) %>"
 },
 "mainEntityOfPage": {
   "@type": "WebPage",
   "@id": "<%= request.url %>"
 },
 "description": "<%= ActionView::Base.full_sanitizer.sanitize(@partner.description.gsub(/(?:\n\r?|\r\n?)/, '<br />')).truncate(50) %>"
}
</script>
<% end %>


<div class="rolando">
  <div id="page" class="p-3">
    <div class="container mb50">
      <div class="row mt40"> 
        <div class="col-md-6 col-sm-6">
          <h1 class="mt5"><%= @partner.name %></h1>
          <p><a class="a-sim" href="<%= @partner.weblink %>" target="blank"><%= @partner.weblink.split('//')[1] %></a></p> <br>
          <%= @partner.description.html_safe %>
        </div>
        <div class="col-md-6 col-sm-6">
          <%= image_tag(@partner.main_image.url(:large), class: "img-responsive") %>
        </div>      
      </div>
      <div class="row hr-noborder"> 
        <div class="col-md-6 col-sm-6 align-self-center">
          <div class="quote2">
            "<%= @partner.testimonial %>"
          </div>
          <div class="quote-person2">
            <%= @partner.testimonial_author %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <% @images.each_with_index do |img, i| %>
                  <% if i == 0 %>
                  <div class="item active">
                  <% else %>
                  <div class="item">
                  <% end %>
                    <%= image_tag(img.pic.url(:large), width: '100%') %>
                  </div>
                <% end %>
              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
            
        </div>      
      </div>    
    </div>
  </div>
</div>



<style>
    .right.carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    right: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  .left.carousel-control .fa-chevron-left {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    left: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
</style>