<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit FAQ</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">

              <%= form_for(@faq, :url => (admin_faq_path(@faq.id))) do |f| %>
                <% if @faq.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

                    <ul>
                    <% @faq.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label "Event" %>
                  <%= f.collection_select :event_id, Event.all, :id, :title_for_slug, {include_blank: "Select Event"}, {class: "form-control", required: true} %>
                </div>

                <div class="form-group">
                  <%= f.label :question %>
                  <%= f.text_field :question, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :answer %>
                  <%= f.cktext_area :answer, class: "form-control ckeditor" %>
                </div>
                
                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>