<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">List faqs &nbsp;<a href="/admin/faqs/new" class="btn btn-primary">Add new</a></h1>
        <%= form_tag admin_faqs_path, id: "search_form_notes", method: 'get' do%>
          <div class="form-group">
            <% if params[:event].present? && params[:event][:event_id].present?  %>
            <%= collection_select :event, :event_id, Event.all, :id, :title_for_slug, {:selected => params[:event][:event_id]},{ required: true } %>
            <% else %>
            <%= collection_select :event, :event_id, Event.all, :id, :title_for_slug, {:prompt => "View FAQ's by Event"},{ required: true } %>  <!-- so that search param persists on the results -->
            <% end %>
          </div>
          <%= submit_tag "Search", name: nil, class: "" %> <!-- so that it doesnt show up in the params -->
        <% end %>

        <% if params[:event].present? %>
          <div>
              <% @faqs.each do |faq| %>
                <div class="row mt20">
                    <div class="col-md-12">
                      <h4 class=""><%= faq.question %>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit',edit_admin_faq_path(faq.id), class:"btn btn-warning" %>&nbsp;<%= link_to 'Destroy', admin_faq_path(faq.id), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
                    </div>
                </div>
                <hr>
              <% end %>
          </div>
        <% end %>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

