<% provide(:title, 'MOABS | The Mother of All Baby Showers | Event Host Cities') %>
<% content_for :head do%>
  <meta name="description" content="Find a MOABS event near you! Browse dates and purchase tickets to an upcoming event in your city, research products, and view your city's event agenda now.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  
<!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | Event Host Cities"> <meta name="twitter:description" content="Find a MOABS event near you! Browse dates and purchase tickets to an upcoming event in your city, research products, and view your city's event agenda now."> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="MOABS | The Mother of All Baby Showers | Event Host Cities" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/our-cities" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="Find a MOABS event near you! Browse dates and purchase tickets to an upcoming event in your city, research products, and view your city's event agenda now." /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />

  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "MOABS",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3-us-east-2.amazonaws.com/moabs1/production/homepage/1/slideshow/huge/MOABS_Desktop_Website_Home_Hero01.jpg?1519673445",
       "width": 160,
       "height": 160
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3-us-east-2.amazonaws.com/moabs1/production/homepage/1/slideshow/huge/MOABS_Desktop_Website_Home_Hero01.jpg?1519673445"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Find a MOABS event near you! Browse dates and purchase tickets to an upcoming event in your city, research products, and view your city's event agenda now."
  }
  </script>
<% end %>

<div class="container">

  <div class="row mt50">
    <div class="col-md-10" id="mylocations" data-mylocations="<%= @myevents.to_json %>">
      <div id="eventmap" class="mb50"></div>
      
        <div class="row">
          <% @events.each_slice(3).to_a.each do |group|  %>

              <% group.each do |event| %>
                  <div class="col-sm-4 text-center center-block mb30">
                    <div class="relative" style="<%= 'opacity: 0.5;' if event.event_date < Date.today %>">
                      <%= image_tag(event.cover_image.url(:medium), class: "img-responsive", width: "100%") %>
                      <div class="text">
                        <h3><%= event.city %></h3>
                        <p><%= event.event_date.strftime("%B %d, %Y") %></p>
                      </div>
                      <div class="myborder">
                          <div class="purchase">
                            <a href="<%= event.eventbrite_link %>" target="_blank"><p>purchase</p></a>
                          </div>
                          <div class="more-info">
                            <a href="/events/<%= event.title_for_slug %>"><p>more info</p></a>
                          </div>
                      </div>
                    </div>
                  </div>
              <% end %>

          <% end %>
        </div>

        <div class="text-center style_paginate mb30" data-last-page="<%= @events.total_pages %>">
          <%= will_paginate @events %>
        </div>
    </div>

    <div class="col-md-2 hidden-sm hidden-xs">
      <%= link_to @eventindex.side_ad_one_link, target: "_blank" do %>
        <%= image_tag(@eventindex.side_ad_one.url(:medium), class: "img-responsive center-block") if @eventindex.side_ad_one.present? %>
      <% end if @eventindex.side_ad_one.present? %> <br>
      <%= link_to @eventindex.side_ad_two_link, target: "_blank" do %>
        <%= image_tag(@eventindex.side_ad_two.url(:medium), class: "img-responsive center-block") if @eventindex.side_ad_two.present? %>
      <% end if @eventindex.side_ad_two.present? %> <br>
    </div>
  </div>

  <div class="row mb50">
    <div class="col-md-4">
      <%= link_to @eventindex.bottom_ad_one_link, target: "_blank" do %>
        <%= image_tag(@eventindex.bottom_ad_one.url(:medium), class: "img-responsive center-block") if @eventindex.bottom_ad_one.present? %>
      <% end if @eventindex.bottom_ad_one.present? %>
    </div>
    <div class="col-md-4">
      <%= link_to @eventindex.bottom_ad_two_link, target: "_blank" do %>
        <%= image_tag(@eventindex.bottom_ad_two.url(:medium), class: "img-responsive center-block") if @eventindex.bottom_ad_two.present? %>
      <% end if @eventindex.bottom_ad_two.present? %>
    </div>
    <div class="col-md-4">
      <%= link_to @eventindex.bottom_ad_three_link, target: "_blank" do %>
        <%= image_tag(@eventindex.bottom_ad_three.url(:medium), class: "img-responsive center-block") if @eventindex.bottom_ad_three.present? %>
      <% end if @eventindex.bottom_ad_three.present? %>
    </div>
  </div>

  </div>
</div>






<style>
  #eventmap {
    height: 500px;
  }
  .relative {
    position: relative;
  }
  .text {
    left: 0;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
  }
  .text h3 {
    color: white;
    font-size: 34px;
  }
  .text p {
    color: white;
    font-size: 16px;
  }
  .purchase {
    left: 0;
    text-align: center;
    bottom: 25px;
    width: 50%;
    background-color: #e6c67d;
  }
  .purchase p {
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .purchase a {
    text-decoration: none;
  }
  .more-info {
    right: 0;
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 50%;
  }
  .more-info p {
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .more-info a {
    text-decoration: none;
  }

  .myborder {
    left: 0;
    position: absolute;
    text-align: center;
    bottom: 25px;
    width: 100%;
    border: 1px solid #e6c67d;
  }
</style>