<% provide(:title, "MOABS | The Mother of All Baby Showers | MOABS #{@event.city}") %>
<% content_for :head do%>
  <meta name="description" content="The Mother of All Baby Showers is coming to <%= @event.city %> for one night only! Purchase tickets, view the event agenda, and browse local products from partners.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  
<!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | <%= @event.city %>"> <meta name="twitter:description" content="The Mother of All Baby Showers is coming to <%= @event.city %> for one night only! Purchase tickets, view the event agenda, and browse local products from partners. "> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="MOABS | The Mother of All Baby Showers | <%= @event.city %>" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/<%= @event.city.downcase %>" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="The Mother of All Baby Showers is coming to <%= @event.city %> for one night only! Purchase tickets, view the event agenda, and browse local products from partners. " /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />


<!-- GOOGLE Structured data -->

<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "Website",
 "publisher": {
   "@type": "Person",
   "name": "MOABS",
   "logo": {
     "@type": "ImageObject",
     "url": "<%= @event.main_image.url(:medium) %>",
     "width": 160,
     "height": 160
   }
 },
 "url": "<%= request.url %>",
 "image": {
   "@type": "ImageObject",
   "url": "<%= @event.main_image.url(:medium) %>"
 },
 "mainEntityOfPage": {
   "@type": "WebPage",
   "@id": "<%= request.url %>"
 },
 "description": "The Mother of All Baby Showers is coming to <%= @event.city %> for one night only! Purchase tickets, view the event agenda, and browse local products from partners."
}
</script>

<% end %>


<div class="container">
  <div class="row mt50">

    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <h2><%= @event.city %></h2><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb30">
          <p><a href="#location" style="text-decoration: none; color: #333;">Location & Directions</a></p><br>
          <p><a href="#agenda" style="text-decoration: none; color: #333;">Agenda</p><br>
          <p><a href="#partners" style="text-decoration: none; color: #333;">Partners</p><br>
          <p><a href="#faq" style="text-decoration: none; color: #333;">FAQ</p><br>
          <a href="<%= @event.eventbrite_link %>" class="btn btn-custom-purchase-noborder">Purchase Tickets</a><br><br>
          <% if @event.video_link.present? %>
            <div class="video-responsive">
              <%= @event.video_link.html_safe %>
            </div>
          <% else %>
            <%= image_tag(@event.main_image.url(:medium), class: "img-responsive", width: '100%') %>
          <% end %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <%= @event.event_description.html_safe %>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row mt35">
        <div class="col-md-11">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <% @images.each_with_index do |img, i| %>
                <% if i == 0 %>
                <div class="item active">
                <% else %>
                <div class="item">
                <% end %>
                  <%= image_tag(img.pic.url(:large), width: '100%') %>
                </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    
    <div class="col-md-2 hidden-sm hidden-xs">
      <%= link_to @event.side_ad_one_link do %>
        <%= image_tag(@event.side_ad_one_image.url(:medium), class: "img-responsive center-block", width: '160') if @event.side_ad_one_image.present? %> <br>
      <% end if @event.side_ad_one_image.present? %>
    </div>

  </div>

  <div class="row">
    <div id="location" class="col-md-12">
      <h3>Locations & Directions</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <iframe width="100%" height="350" frameborder="0" style="border:0"
       src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAprn-VrOjEUK0wF5SDdkBf3-Ve5MPXpcQ&q=<%= @event.address %>"
       allowfullscreen>
      </iframe>
      <!-- you may need to get static maps or embed maps api on top of javascript api -->
    </div>
    <div class="col-md-4">
      <%= @event.location_description.html_safe %>
    </div>
  </div>

  <div class="row">
    <div id="agenda" class="col-md-12">
      <h3>Agenda</h3>
    </div>
  </div>

  <div class="row agenda">
    <div class="col-md-12">
      <%= @event.agenda_description.html_safe %>
    </div>
  </div>

  <div class="row mb40">
    <div id="partners" class="col-md-12">
      <h3>Partners</h3>

      <div class="owl-carousel owl-theme">
        <% @partners.each do |partner| %>
          <div class="item">
              <% if partner.description.present? %>
                <a href="<%= partner_path(partner.title_for_slug) %>">
              <% else %>
                <a href="<%= partner.weblink %>" target="blank">
              <% end %>
                  <%= image_tag(partner.main_image.url(:small), class: "img-responsive center-block") %>
                </a>
          </div>
        <% end if @partners.present? %>
      </div>

    </div>
  </div>

  <div class="row mt40 mb20">
    <div class="col-md-12">
      <a href="<%= @event.eventbrite_link %>" class="btn btn-gold form-control fts18" style="padding: 4px 12px;">Ready to purchase your ticket? Get it now.</a>
    </div>
  </div>

  <div class="row mb40">
    <div id="faq" class="col-md-12">
      <h3>FAQs</h3>
      <% @event.faqs.each do |faq| %>
        <p class="bold"><%= faq.question %></p>
        <%= faq.answer.html_safe %>
        <br>
      <% end if false && @event.faqs.present? %>

      <% if @event.faqs.present? %>
        <% @event.faqs.order(created_at: :asc).each do |faq| %>
          <p class="bold"><%= faq.question %></p>
          <%= faq.answer.html_safe %>
          <br>
        <% end %>
      <% else %>
        <%  if @default_faq.present? %>
          <% @default_faq.order(created_at: :asc).each do |faq| %>
            <p class="bold"><%= faq.question %></p>
            <%= faq.answer.html_safe if faq.present? %>
            <br>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4 mt30">
      <%= link_to @event.ad_one_link, target: "_blank" do %>
        <%= image_tag(@event.ad_one_image.url(:medium), class: 'center-block', width: '300') if @event.ad_one_image.present? %>
      <% end if @event.ad_one_image.present? %>
    </div>
    <div class="col-md-4 mt30">
      <%= link_to @event.ad_two_link, target: "_blank" do %>
        <%= image_tag(@event.ad_two_image.url(:medium), class: 'center-block', width: '300') if @event.ad_two_image.present? %>
      <% end if @event.ad_two_image.present? %>
    </div>
    <div class="col-md-4 mt30">
      <%= link_to @event.ad_three_link, target: "_blank" do %>
        <%= image_tag(@event.ad_three_image.url(:medium), class: 'center-block', width: '300') if @event.ad_three_image.present? %>
      <% end if @event.ad_three_image.present? %>
    </div>
  </div>

</div>



<style>
  h2 {
    margin: 0;
  }
  h3 {
    border-bottom: 2px solid black;
  }
  .owl-carousel .fa {
    color: #000000;
    font-size: 30px;
  }
  .owl-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    right: -5%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
    background: #ffffff !important;
    text-align: right !important;
  }
  .owl-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    left: -5%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
    background: #ffffff !important;
    text-align: right !important;
  }
  .right.carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    right: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  .left.carousel-control .fa-chevron-left {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    left: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }

  .agenda ul {
    list-style-position: inside;
  }

  .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .video-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }
</style>


<script>
    (function(){
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            autoplay: true,
            // autoplayTimeout:6000,
            responsiveClass:true,
            navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
            responsive:{
                0:{
                    items:1,
                    nav:true,
                    dots: false
                },
                600:{
                    items:2,
                    nav:true,
                    dots: false
                },
                1000:{
                    items:4,
                    nav:true,
                    dots: false,
                    loop:true
                }
            }
        })

    }());
</script>