<% provide(:title, 'MOABS | The Mother of All Baby Showers | About Amy') %>
<% content_for :head do%>
  <meta name="description" content="Amy Lundy launched The Mother of All Baby Showers in 2012 as a unique way to connect new and expecting parents with local brands, experts, and each other.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  
<!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | About Amy"> <meta name="twitter:description" content="Amy Lundy launched The Mother of All Baby Showers in 2012 as a unique way to connect new and expecting parents with local brands, experts, and each other."> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="MOABS | The Mother of All Baby Showers | About Amy" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/about-amy" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="Amy Lundy launched The Mother of All Baby Showers in 2012 as a unique way to connect new and expecting parents with local brands, experts, and each other." /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />




<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "Website",
 "publisher": {
   "@type": "Person",
   "name": "MOABS",
   "logo": {
     "@type": "ImageObject",
     "url": "<%= @about_amy.background_img.url(:large) %>",
     "width": 160,
     "height": 160
   }
 },
 "url": "<%= request.url %>",
 "image": {
   "@type": "ImageObject",
   "url": "<%= @about_amy.background_img.url(:large) %>"
 },
 "mainEntityOfPage": {
   "@type": "WebPage",
   "@id": "<%= request.url %>"
 },
 "description": "Amy Lundy launched The Mother of All Baby Showers in 2012 as a unique way to connect new and expecting parents with local brands, experts, and each other."
}
</script>

<% end %>


<div class="rolando">
  <%= image_tag(@about_amy.background_img.url(:large), class: "img-responsive", width: "100%") %>

  <div id="page" class="">
    <div class="container mb50">
      <div class="row hr">  
        
        <div class="col-md-4 mt5 mb25">
            <div id="title_blurb">
                <h1 class="mt2">Meet Amy</h1>
                <%= @about_amy.meet_amy.html_safe %>
            </div>
            <br>
            <a href="https://www.instagram.com/the_moabs/" target="blank">
              <img src="https://s3.us-east-2.amazonaws.com/moabs1/about_moabs/themoabs-instagram.jpg" alt=""  class="img-responsive mt5">
            </a>
            <br>
            <div id="instafeed">
            </div>
        </div> <!-- col-md-4 -->

        <div class="col-md-8 mt5">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
              <% @images.where(slider: nil).each_with_index do |img, i| %>
                <% if i == 0 %>
                  <div class="item active">
                <% else %>
                  <div class="item">
                <% end %>
                      <%= image_tag(img.pic.url(:large), width: '100%') %>
                  </div>
              <% end if @images.where(slider: nil).present? %>
              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div id="myCarousel2" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
              <% @images.where(slider: "2").each_with_index do |img, i| %>
                <% if i == 0 %>
                  <div class="item active">
                <% else %>
                  <div class="item">
                <% end %>
                      <%= image_tag(img.pic.url(:large), width: '100%') %>
                  </div>
              <% end if @images.where(slider: "2").present? %>
              </div>
              <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>

          <div class="">
            <h2 class="" style="margin-top: -25px;">The MOABS Experience</h2>
            <%= @about_amy.moabs_experience.html_safe %>
          </div>
        </div> <!-- col-md-8 -->

      </div> <!-- row hr -->

      <div class="row hr">
        <div class="col-md-4 mt30">
          <%= link_to @about_amy.bottom_ad_one_link do %>
            <%= image_tag(@about_amy.bottom_ad_one.url(:medium), class: "img-responsive center-block", width: "300") if @about_amy.bottom_ad_one.present? %>
          <% end if @about_amy.bottom_ad_one.present? %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @about_amy.bottom_ad_two_link do %>
            <%= image_tag(@about_amy.bottom_ad_two.url(:medium), class: "img-responsive center-block", width: "300") if @about_amy.bottom_ad_two.present? %>
          <% end if @about_amy.bottom_ad_two.present? %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @about_amy.bottom_ad_three_link do %>
            <%= image_tag(@about_amy.bottom_ad_three.url(:medium), class: "img-responsive center-block", width: "300") if @about_amy.bottom_ad_three.present? %>
          <% end if @about_amy.bottom_ad_three.present? %>
        </div>
      </div>

    </div> <!-- page -->
  </div> <!-- container -->
</div> <!-- rolando -->


<style>
    .right.carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    right: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  .left.carousel-control .fa-chevron-left {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    left: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  #instafeed img {
    width: 33%;
  }
</style>


<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: '1464893270',
    accessToken: '1464893270.fceedb8.7008cde149554d3bbd299e38b5fdc1bd',
    limit: 9,
    template: '<a class="my-insta-class {{model.likes.count}} {{model.comments.count}} {{model.tags[0]}}" href="{{link}}" target="blank"><img src="{{image}}" /></a>'
  });
  feed.run();
        // If you don't specify the template the default is this: '<a href="{{link}}"><img src="{{image}}" /></a>'
</script>