<% provide(:title, 'MOABS | The Mother of All Baby Showers | Our Story') %>
<% content_for :head do%>
  <meta name="description" content="The Mother of All Baby Showers in an event created for parents by parents, and is the ultimate resource for everything pregnancy and parenting in your city.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | Our Story"> <meta name="twitter:description" content="The Mother of All Baby Showers in an event created for parents by parents, and is the ultimate resource for everything pregnancy and parenting in your city."> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="MOABS | The Mother of All Baby Showers | Our Story" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/our-story" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="The Mother of All Baby Showers in an event created for parents by parents, and is the ultimate resource for everything pregnancy and parenting in your city." /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />


 <script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "Website",
 "publisher": {
   "@type": "Person",
   "name": "MOABS",
   "logo": {
     "@type": "ImageObject",
     "url": "<%= @about_moabs.main_image.url(:medium) %>",
     "width": 160,
     "height": 160
   }
 },
 "url": "<%= request.url %>",
 "image": {
   "@type": "ImageObject",
   "url": "<%= @about_moabs.main_image.url(:medium) %>"
 },
 "mainEntityOfPage": {
   "@type": "WebPage",
   "@id": "<%= request.url %>"
 },
 "description": "The Mother of All Baby Showers in an event created for parents by parents, and is the ultimate resource for everything pregnancy and parenting in your city."
}
</script>
<% end %>


<div class="rolando">
  <div id="page">
    <div class="container mb50">
      <h1>Our Story</h1>
      <div class="row"> 
        <div class="col-sm-5 col-md-4 mt15">
          <% if @about_moabs.video_link.present? %>
            <div class="video-responsive">
              <%= @about_moabs.video_link.html_safe %>
            </div>
          <% else %>
            <%= image_tag(@about_moabs.main_image.url(:medium), class: "img-responsive") %>
          <% end %>
          <%#= image_tag(@about_moabs.main_image.url(:medium), class: "img-responsive") %>
          <br>
          <a href="https://www.instagram.com/the_moabs/" target="blank">
            <img src="https://s3.us-east-2.amazonaws.com/moabs1/about_moabs/themoabs-instagram.jpg" alt=""  class="img-responsive mt15">
          </a>
          <br>
          <div id="instafeed">
          </div>
        </div>
        <div class="col-md-8 mt15">
          <%= @about_moabs.description.html_safe %>
          <br>

          <div id="myCarousel" class="carousel slide mt30" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <% @images.each_with_index do |img, i| %>
                <% if i == 0 %>
                  <div class="item active">
                <% else %>
                  <div class="item">
                <% end %>
                    <a href="/events">
                      <%= image_tag(img.pic.url(:large), width: '100%') %>
                    </a>
                  </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<style>
    .right.carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    right: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  .left.carousel-control .fa-chevron-left {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    left: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  #instafeed img {
    width: 33%;
  }



  .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .video-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }

</style>



<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: '1464893270',
    accessToken: '1464893270.fceedb8.7008cde149554d3bbd299e38b5fdc1bd',
    limit: 9,
    template: '<a class="my-insta-class {{model.likes.count}} {{model.comments.count}} {{model.tags[0]}}" href="{{link}}" target="blank"><img src="{{image}}" /></a>'
  });
  feed.run();
        // If you don't specify the template the default is this: '<a href="{{link}}"><img src="{{image}}" /></a>'
</script>