<% provide(:title, 'MOABS | The Mother of All Baby Showers | Adults Only Event') %>
<% content_for :head do%>
  <meta name="description" content="The Mother of All Baby Showers is a one-night adults-only event. Discover pregnancy-related resources in your city, listen to guest speakers, and party!">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  
<!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | Adults Only Event"> <meta name="twitter:description" content="The Mother of All Baby Showers is a one-night adults-only event. Discover pregnancy-related resources in your city, listen to guest speakers, and party!"> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">


<!-- Open Graph data -->
 <meta property="og:title" content="MOABS | The Mother of All Baby Showers | Adults Only Event" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="The Mother of All Baby Showers is a one-night adults-only event. Discover pregnancy-related resources in your city, listen to guest speakers, and party!" /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />

 <!-- GOOGLE Structured data -->

<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "Website",
 "publisher": {
   "@type": "Person",
   "name": "MOABS",
   "logo": {
     "@type": "ImageObject",
     "url": "<%= @home_page.main_image.url(:medium) %>",
     "width": 160,
     "height": 160
   }
 },
 "url": "<%= request.url %>",
 "image": {
   "@type": "ImageObject",
   "url": "<%= @home_page.main_image.url(:medium) %>"
 },
 "mainEntityOfPage": {
   "@type": "WebPage",
   "@id": "<%= request.url %>"
 },
 "description": "The Mother of All Baby Showers is a one-night adults-only event. Discover pregnancy-related resources in your city, listen to guest speakers, and party!"
}
</script>
<% end %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @images.each_with_index do |img, i| %>
      <% if i == 0 %>
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <% else %>
        <li data-target="#myCarousel" data-slide-to="<%= i %>" class=""></li>
      <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% @images.each_with_index do |img, i| %>
      <% if i == 0 %>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>
          <a href="/events">
            <%= image_tag(img.pic.url(:huge), width: '100%') %>
          </a>
        </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" hidden>
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" hidden>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="homeh3">Upcoming Events</h3>
    </div>
  </div>

  <div class="row">
    <% @events.each_with_index do |event, i| %>
      <% if i == 0 %>
      <div class="col-md-4 mb40 first_event">
      <% else %>
      <div class="col-md-4 mb40">
      <% end %>
        <div class="homeeventimghover">
          <div class="homeeventimgdiv">
            <p><%= (Date.parse(event.event_date.to_s) - Date.today).to_i %><span>days</span></p>
          </div>
          <%= image_tag(event.icon.url(:medium), width: '80', height: '80', style: "display: none; float: left; margin-right: 10px") %>
        </div>
        <p class="fts38 homeeventp1"><%= event.city %></p>
        <p class="homeeventp2"><span class="homeeventspan1"><%= event.event_date.strftime("%d | %b") %></span><span class="homeeventspan2"><a href="events/<%= event.title_for_slug %>">more details</a></span></p>
      </div>
    <% end %>
  </div>



  <div class="row mb30">
    <div class="col-md-12">
      <h3 class="homeaboutmoabs">Locally born. Nationally bred.</h3>
    </div>
    <div class="col-md-4">
      <%= @home_page.description.html_safe %>
      <br>
      <p><a href="/events" class="btn btn-custom-purchase-reverse">Join Us</a></p>

      <br>
    </div>
    <div class="col-md-8">
      <% if @home_page.video_link.present? %>
        <div class="video-responsive">
          <%= @home_page.video_link.html_safe %>
        </div>
      <% else %>
        <%= image_tag(@home_page.main_image.url(:medium), class: "img-responsive") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="homeh3">Real Talk</h3>
    </div>
    
    <% @categories.each do |category| %>
      <div class="col-md-4 mb40">
        <%= link_to "/blogs/categories/#{category.category_slug}" do%>
          <%= image_tag(category.image.url(:medium), class:'img-responsive', width: "100%") if category.image.present? %>
          <p class="homelatestarrivals"><%= category.name %></p>
        <% end %>
      </div>
    <% end  %>


  </div>
  <div class="row mb40">
    <div class="col-md-12">
      <h3 class="homeh3">Featured Faves</h3>
    </div>
    <div class="col-md-4 mt30">
      <%= link_to @home_page.bottom_ad_one_link, target: '_blank' do %>
        <%= image_tag(@home_page.bottom_ad_one.url(:medium), class: "img-responsive", width: '300') %>
      <% end if @home_page.bottom_ad_one.present? %>
    </div>
    <div class="col-md-4 mt30">
      <%= link_to @home_page.bottom_ad_two_link, target: '_blank' do %>
        <%= image_tag(@home_page.bottom_ad_two.url(:medium), class: "img-responsive", width: '300') %>
      <% end if @home_page.bottom_ad_two.present? %>
    </div>
    <div class="col-md-4 mt30">
      <%= link_to @home_page.bottom_ad_three_link, target: '_blank' do %>
        <%= image_tag(@home_page.bottom_ad_three.url(:medium), class: "img-responsive", width: '300') %>
      <% end if @home_page.bottom_ad_three.present? %>
    </div>
  </div>
</div>



<style>
  .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .video-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }
</style>



