<% provide(:title, 'MOABS | The Mother of All Baby Showers | Partner With Us') %>
<% content_for :head do%>
  <meta name="description" content="Want to reach thousands of new and expecting parents eager to learn all about your pregnancy and parenting products or services? Partner with MOABS now!">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <!-- Twitter Card data -->
 <meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | Partner With Us"> <meta name="twitter:description" content="Want to reach thousands of new and expecting parents eager to learn all about your pregnancy and parenting products or services? Partner with MOABS now!"> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px -->
 <meta name="twitter:image:src" content="http://www.example.com/image.jpg">



<!-- Open Graph data -->
 <meta property="og:title" content="MOABS | The Mother of All Baby Showers | Partner With Us" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/partner-with-us" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="Want to reach thousands of new and expecting parents eager to learn all about your pregnancy and parenting products or services? Partner with MOABS now!" /> <meta property="og:site_name" content="The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />
 
 <script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "Website",
 "publisher": {
   "@type": "Person",
   "name": "MOABS",
   "logo": {
     "@type": "ImageObject",
     "url": "<%= @partner_with_us.main_image.url(:medium) %>",
     "width": 160,
     "height": 160
   }
 },
 "url": "<%= request.url %>",
 "image": {
   "@type": "ImageObject",
   "url": "<%= @partner_with_us.main_image.url(:medium) %>"
 },
 "mainEntityOfPage": {
   "@type": "WebPage",
   "@id": "<%= request.url %>"
 },
 "description": "The Mother of All Baby Showers in an event created for parents by parents, and is the ultimate resource for everything pregnancy and parenting in your city."
}
</script>
<% end %>



<div class="rolando">
<div id="page" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb10">
        <h1>Partner with us</h1>
      </div>      
      <div class="col-sm-4">
        <%= image_tag(@partner_with_us.main_image.url(:medium), class: "img-responsive") %>
      </div>
      <div class="col-sm-8">
        <%= @partner_with_us.description.html_safe %>
        <br>
          <a class="btn btn-custom-purchase-noborder mt30" href="mailto:events@smallfrysociety.com?subject=Partner%20with%20us">Sign-up with us</a>
        </p>
        
        
      </div>
    </div>
    <div class="row hr-noborder mb50">
      <div class="col-sm-4 align-self-center">
        <div class="quote">
          <%= @partner_with_us.testimonial %>
        </div>
        <div class="quote-person">
          <%= @partner_with_us.testimonial_author %>
        </div>
      </div>
      <div class="col-sm-8">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <% @images.each_with_index do |img, i| %>
                <% if i == 0 %>
                  <div class="item active">
                <% else %>
                  <div class="item">
                <% end %>
                    <a href="/events">
                      <%= image_tag(img.pic.url(:large), width: '100%') %>
                    </a>
                  </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
    </div>    
  </div>
</div>
</div>


<style>
    .right.carousel-control .fa-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    right: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
  .left.carousel-control .fa-chevron-left {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    left: 30%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
  }
</style>