<h1>You have received a new contact for Moabs website</h1>

<h3>Contact Details</h3>


<p>Full name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<% if @contact.phone_number.present? %>
  <p>Phone: <%= @contact.phone_number %></p>
<% end %>
<% if @contact.message.present? %>
  <p>Message: <%= @contact.message %></p>
<% end %>
