<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">List blog categories &nbsp;<a href="/admin/categories/new" class="btn btn-primary">Add new</a></h1>
        
          <div>
              <% @categories.order(position: :asc).each do |category| %>
                <div class="row mt20">
                    <div class="col-md-3 col-sm-4">
                      <%= image_tag(category.image.url(:medium), class:'img-responsive') if category.image.present?%>
                    </div>
                    <div class="col-md-12">
                      <h4 class=""><%= category.name %>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', admin_edit_category_path(category.category_slug), class:"btn btn-warning" %>&nbsp;<%= link_to 'Destroy', admin_destroy_category_path(category.category_slug), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
                    </div>
                </div>
                <hr>
              <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

