<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Create Category</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">

              <%= form_for(@category, :url => (admin_categories_url), :html => { :multipart => true }) do |f| %>
                <% if @category.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

                    <ul>
                    <% @category.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control", required: true %> <br>
                  <%= f.file_field :image, style: "padding: 4px;", required: true %>
                </div>
                
                <div class="form-group">
                  <%= f.label :position %>
                  <%= f.number_field :position, class: "form-control" %>
                </div>
                
                
                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

