<% provide(:title, 'MOABS | The Mother of All Baby Showers | Press') %>
<% content_for :head do%>
  <!-- <meta name="description" content="home description"> -->
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>


<div class="rolando mt40">
  <div id="page">
    <div class="container">
      <div class="row"> 
        <div class="col-md-8">
          <% @press.each do |press| %>
            <div class="row mb30">
              <div class="col-sm-6">
                <%= link_to press_path(press.title_for_slug) do%>
                  <%= image_tag(press.main_image.url(:medium), class:'img-responsive', width: "100%") %>
                <% end %>
                </div>
              <div class="col-sm-4 underline_hover">
                <h2><%= link_to press.title, press_path(press.title_for_slug) %></h2>
                <%= link_to press_path(press.title_for_slug) do%>
                  <%= HTML_Truncator.truncate(press.content_index, 40).html_safe %>
                <% end %>
              </div>
            </div>
          <% end if @press.present?%>   
          <!-- <div id="pagination">Pagination Goes Here</div> -->
          <div class="text-center style_paginate" data-last-page="<%= @press.total_pages %>">
            <%= will_paginate @press %>
          </div>
        </div>

        
        <div class="col-md-2 col-md-offset-2 hidden-sm hidden-xs">
          <%= link_to @press_index.side_ad_link, target: "_blank" do %>
            <%= image_tag(@press_index.side_ad.url(:medium), class: "img-responsive") %>
          <% end %>
        </div>
      </div>
      
      <div class="row mb50 hr-noborder">
        <div class="col-md-4 mt30">
          <%= link_to @press_index.bottom_ad_one_link, target: "_blank" do %>
            <%= image_tag(@press_index.bottom_ad_one.url(:medium), class: "img-responsive") %>
          <% end %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @press_index.bottom_ad_two_link, target: "_blank" do %>
            <%= image_tag(@press_index.bottom_ad_two.url(:medium), class: "img-responsive") %>
          <% end %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @press_index.bottom_ad_three_link, target: "_blank" do %>
            <%= image_tag(@press_index.bottom_ad_three.url(:medium), class: "img-responsive") %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
