<% provide(:title, 'MOABS | The Mother of All Baby Showers | Press') %>
<% content_for :head do%>
  <meta name="description" content="The Mother of All Baby Showers has enjoyed national exposure and acclaim across all forms of media since its inception. Contact our team to cover us now!">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  
<!-- Twitter Card data --> 
<meta name="twitter:card" content="summary_large_image"> <meta name="twitter:site" content="@The_MOABS"> <meta name="twitter:title" content="MOABS | The Mother of All Baby Showers | Press"> <meta name="twitter:description" content="The Mother of All Baby Showers has enjoyed national exposure and acclaim across all forms of media since its inception. Contact our team to cover us now!”> <meta name="twitter:creator" content="@The_MOABS"> <!-- Twitter summary card with large image must be at least 280x150px --> <meta name="twitter:image:src" content="http://www.example.com/image.jpg">


<!-- Open Graph data --> 
<meta property="og:title" content="MOABS | The Mother of All Baby Showers | Press" /> <meta property="og:type" content="article" /> <meta property="og:url" content="http://themotherofallbabyshowers.com/press" /> <meta property="og:image" content="http://example.com/image.jpg" /> <meta property="og:description" content="The Mother of All Baby Showers has enjoyed national exposure and acclaim across all forms of media since its inception. Contact our team to cover us now!" /> <meta property="og:site_name" content=“The Mother of All Baby Showers" /> <meta property="fb:admins" content="Facebook numberic ID" />

  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "MOABS",
     "logo": {
       "@type": "ImageObject",
       "url": "<%= @press_page.main_image.url(:huge) %>",
       "width": 160,
       "height": 160
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "<%= @press_page.main_image.url(:huge) %>"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "The Mother of All Baby Showers has enjoyed national exposure and acclaim across all forms of media since its inception. Contact our team to cover us now!"
  }
  </script>
<% end %>


<% if @press_page.video_link.present? %>
  <div class="video-responsive">
    <%= @press_page.video_link.html_safe %>
  </div>
<% else %>
  <%= image_tag(@press_page.main_image.url(:huge), class: "img-responsive", width: "100%") %>
<% end %>


<div class="container mt15 mb50">


  <div class="row mt10 mb10">
    <div class="col-md-10 col-md-offset-1">
      <%= @press_page.description.html_safe %>
    </div>
  </div>

  <div class="row mb10">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3 class="homeh3">As seen on:</h3>
      </div>
      <div class="col-md-1"></div>
  </div>






  <div class="row">
<!--     
    <div class="col-md-2 col-sm-4 col-xs-12 mb20 col-md-offset-1">
      <a href="/partners/cribs-for-kids">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20 col-md-offset-1">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div>
    <div class="col-md-2 col-sm-4 mb20">
      <a href="/partners/la-croix">
        <img src="https://placehold.it/300x200" class="img-responsive center-block" />
      </a>
    </div> -->

  </div> <!-- ./row  -->







  <div class="row">
    <% @images.each_with_index do |img, i| %>
      <% if i % 5 == 0 %>
      <div class="col-md-2 col-sm-4 col-xs-12 mb20 col-md-offset-1">
      <% else %>
      <div class="col-md-2 col-sm-4 mb20">
      <% end %>
        <%= image_tag(img.url(:medium), class: "img-responsive center-block")  %>
        <!-- <img src="https://placehold.it/300x200" class="img-responsive center-block" /> -->
      </div>
    <% end %>

  </div> <!-- ./row  -->









  <div class="row mt30">
    <div class="col-md-12 text-center">
      <a href="mailto:events@smallfrysociety.com" class="btn btn-custom-purchase-noborder pl35 pr35 bold">Cover us</a>
    </div>
  </div>

</div> <!-- ./container  -->


<style>
  .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .video-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }
</style>