<% provide(:title, "MOABS | The Mother of All Baby Showers | #{@press.title}") %>
<% content_for :head do%>
  <meta name="description" content="<%= @press.meta_description %>">
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>



<div class="rolando mt40">
  <div id="page">
    <div class="container">
      <div class="row"> 
        <div class="col-md-7">
            <div class="col">
              <h2 class="mt0"><%= @press.title %></h2>
              <p class="mb15"><%= @press.pubdate.strftime("%B %d, %Y") %>
                <a href='<%= "https://www.facebook.com/sharer/sharer.php?u=#{request.url}" %>' class="ml25" target="blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href='<%= "http://www.twitter.com/intent/tweet?text=#{@press.meta_description}&url=#{request.url}" %>' class="ml7" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href='<%= "https://www.linkedin.com/cws/share?url=#{request.url}" %>' class="ml7" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </p>

              <%= image_tag(@press.main_image.url(:large), class:'img-responsive') %>
              <p class="mt20"><%= @press.content.html_safe %></p>
            </div>
        </div>
        
        
        <div class="col-md-2 col-md-offset-2 hidden-sm hidden-xs">
          <%= link_to @press.side_ad_link, target: '_blank' do %>
            <%= image_tag(@press.side_ad.url(:medium), class: "center-block img-responsive") %>
          <% end %>
        </div>
      </div>
      
      <div class="row mb50 hr-noborder">
        <div class="col-md-4 mt30">
          <%= link_to @press.bottom_ad_one_link, target: '_blank' do %>
            <%= image_tag(@press.bottom_ad_one.url(:medium), class: "center-block", width: '300') %>
          <% end %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @press.bottom_ad_two_link, target: '_blank' do %>
            <%= image_tag(@press.bottom_ad_two.url(:medium), class: "center-block", width: '300') %>
          <% end %>
        </div>
        <div class="col-md-4 mt30">
          <%= link_to @press.bottom_ad_three_link, target: '_blank' do %>
            <%= image_tag(@press.bottom_ad_three.url(:medium), class: "center-block", width: '300') %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>