/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require light-gallery
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');


* {
    font-family: 'Source Serif Pro', serif;
}

body, ul, li, p{
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

p, li, h1, h2, h3, h4 {
  color: $primary;
}

.bold {
  font-weight: bold;
}

/*----------------------------------------------End initial CSS---------------------------------------------------*/










  .rolando #page{max-width:1400px;margin:0 auto;font-size:14px;} /* Set Page Width here or remove */
  /*.rolando img {width:100%;}*/
  .rolando .a-sim{text-decoration:underline;color:#000;}
  .rolando .hr{border-top:solid #000 2px;margin-top:40px;padding-top:10px;}
  .rolando .hr-noborder{margin-top:40px;padding-top:10px;}

  .rolando .blog-cats ul li{text-decoration:none;list-style:none;padding-right:30px;}
  .rolando .press-cats{padding-right:10%;}
  .rolando .blog-col{border-right:2px solid #000;}

  .rolando #popup{position:fixed;top: 22%;left: 37%;max-width:650px;max-height:550px;background-color: #fff;border:2px #000 solid;z-index:2;}
  .rolando #popup_content{padding:80px;padding: 50px 80px 84px;}
  .rolando #popup_content label{margin-right:20px;font-weight:bold;}
  .rolando #popup_content label.checkbox{font-weight:normal;}
  .rolando #popup_content input{border: none;border-bottom: 1px #000 solid;}
  .rolando .popup_submit {
      margin-top: 44px;
      display: block;
      max-width: 90px;
    float:right;
    font-weight:bold;
  }
  .rolando #blurred {
    content: '';
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:block;
    width: 100vw;
    height: 100vh;
    background: url('http://www.solidbackgrounds.com/images/2048x2048/2048x2048-white-solid-color-background.jpg') no-repeat center center fixed;
      background-position: center center;
    opacity:.6;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
       filter: blur(15px);
       z-index: 1;
  }
  .rolando .gold{color:#e6c67d;}

  .rolando #pagination{text-align:center;padding:50px;}

  .rolando .no-gutters{padding-left:0;padding-right:0;}
  .rolando .no-gutters .col{padding-left:0;padding-right:0;}
  .rolando #insta-widget{margin-top:15px;}

  .rolando #related-posts{max-width:200px;}
  .rolando .read-more{text-align:center;}

  .rolando .p-gallery img{padding-bottom:30px;}

  .rolando .sign-up{padding:7px 20px;border:#ffc107 solid 1px;border-radius:8px;color:#652d90;}
  .rolando .quote{font-size:24px;color:#e6c67d;text-align:right;margin-top: 9%;}
  .rolando .quote2{font-size:24px;color:#ffc107;text-align:left;}
  .rolando .quote-person{text-align:right;}
  .rolando .quote-person2{text-align:left;}


  
@media (max-width: 767px){
  .rolando .quote {
    margin-top: 7%;
  }
}





.underline_hover p:hover {
  text-decoration: underline;
}


.share_social a {
  & .fa-facebook-official {
    color: #3B5998;
  }
  & .fa-twitter {
    color: #1dcaff;
  }
  & .fa-linkedin {
    color: #007bb6;
  }
}


/*-------------------------------------------------Navigation-----------------------------------------------------*/


/* default bootstrap navbar font-size is 14px */
/* make a good habit of making everything in the nav section start with 'nav' 'navbar' words to not affect other pages classes */

/*@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}*/

/* The above is for sidebar */



.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid black !important;
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-default .navbar-nav > li > a {
    color: $primary;
    &:hover{
      color: $blue;
    };
}

.navbar-default .navbar-nav > .active > a {
  color: $primary;
  background-color: #ffffff;
  &:hover{
    color: $blue;
    background-color: #ffffff;
  };
  &:focus{
    color: $blue;
    background-color: #ffffff;
  };
}

.navbar-default .btn-custom-purchase {
  margin-top: 8px;
}

.navbar-default .btn-custom-purchase-mobile {
  margin-left: -15px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav > .active {
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > .active {
    border-bottom: 3px solid $blue !important;
  }
  .navbar-nav {
    margin-left: 20px;
  }
  .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 12px; /* because of 3px bottom border for class active */
  }
}


@media (min-width: 992px) {
  .nav > li > a {
    padding: 15px 25px 12px; /* because of 3px bottom border for class active */
    /*font-size: 16px;*/
  }
  .navbar-nav {
      margin-left: 10%;
  }
}

/*----------------------------------------------------------------------------------------------------------------*/






/*----------------------------------------------------Footer-----------------------------------------------------*/


footer h4 a{
  color: #ffffff !important;
  font-weight: 400 !important;
  &:hover {
    text-decoration: none;
  }
}

footer img{
  margin-top: 3px;
  margin-bottom: 3px;
}


@media (max-width: 767px){
  footer div {
    text-align: center;
  }
  footer h4 {
    margin-bottom: 25px;
  }
}

@media (min-width: 768px){
  footer .col-md-6 {
    text-align: right;
  }
}

/*----------------------------------------------------------------------------------------------------------------*/


/*-- Google Maps Info Window --*/
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}





/*--------------------------------------------------------HOME-----------------------------------------------------*/


.carousel {
  margin-bottom: 55px;
}


.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li {
  border: 1px solid $purple;
  margin-left: 5px;
  margin-right: 5px;
}

.carousel-indicators .active{
  background-color: $purple;
  margin-left: 5px;
  margin-right: 5px;
}


h3.homeh3 {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  font-weight: 500;
  margin-bottom: 13px;
}
.homeaboutmoabs {
  padding-top: 5px;
  border-top: 2px solid black;
  font-weight: 500;
  margin-bottom: 13px;
  border-bottom: none;
}
.homeeventimg {
  float: left;
  margin-right: 10px;
  display: none;
}
.homeeventimgdiv {
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  background-color: black;

}
.homeeventimgdiv > p {
  text-align: center;
  font-size: 52px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: -5px;
  color: white;
}

.homeeventimgdiv > p span {
  display: block;
  font-size: 12px;
  margin-top: -10px;
}

p.homeeventp1 {
  margin-bottom: 3px;
  color: black;
}

p.homeeventp2 span {
  border: 1px solid $black;
  &:hover{
    border: 1px solid $gold;
  }
}

p.homeeventp2 span.homeeventspan1 {
  border: 1px solid black;
  &:hover{
    border: 1px solid black;
  }
}

p.homeeventp2 span a {
  text-decoration: none;
  color: black;
}

.homeeventspan1 {
  padding: 3px 15px 3px 15px;
  background-color: black;
  color: white;
}

.homeeventspan2 {
  padding: 3px 25px 3px 25px;
  background-color: white;
}




/*---First Event---*/

.first_event .homeeventimg {
  float: left;
  margin-right: 10px;
  display: none;
}
.first_event .homeeventimgdiv {
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  background-color: $gold;

}
.first_event .homeeventimgdiv > p {
  text-align: center;
  font-size: 52px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: -5px;
  color: white;
}

.first_event .homeeventimgdiv > p span {
  display: block;
  font-size: 12px;
  margin-top: -10px;
}

.first_event p.homeeventp1 {
  margin-bottom: 3px;
  color: $gold;
}

.first_event p.homeeventp2 span {
  border: 1px solid $gold;
  &:hover{
    border: 1px solid $black;
  }
}

.first_event p.homeeventp2 span.homeeventspan1 {
  border: 1px solid $gold;
  &:hover{
    border: 1px solid $gold;
  }
}

.first_event p.homeeventp2 span a {
  text-decoration: none;
  color: $gold;
}

.first_event .homeeventspan1 {
  padding: 3px 15px 3px 15px;
  background-color: $gold;
  color: white;
}

.first_event .homeeventspan2 {
  padding: 3px 25px 3px 25px;
  background-color: white;
}


/*---*/




p.homelatestarrivals {
  padding-top: 3px;
  font-size: 16px;
}

.new_contact input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.new_contact .hasborder { content: '';
  background: #fff;
  border: 2px solid black;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px; }


/*----------------------------------------------------------------------------------------------------------------*/








/*----------------------------------------------------------------------------------------------------------------*/
/* -- Pagination -- */


.pagination {
  font-size: 14px;
}


.pagination a:not(.current):not(.next_page):not(.previous_page):not(.last_page):not(.first_page) {
  display: none;
}
.pagination .gap {
  display: none;
}
.pagination .current {
  font-style: normal;
  padding-left: 10px; 
  padding-right: 10px;
  font-weight: normal; 
}
.pagination .next_page.disabled {
  display: none;
}
.pagination .previous_page.disabled {
  display: none;
}
.blog_page_arrow {
  padding: 2px 5px;
  border: 1px solid #333;
  color: #333;
}
.last_page {
  margin-left: 10px;
  color: #333;
  border: 1px solid #333;
  padding: 2px 5px;
}
.first_page {
  margin-right: 10px;
  color: #333;
  border: 1px solid #333;
  padding: 2px 5px;
}


/*----------------------------------------------------------------------------------------------------------------*/











