/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Colors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
$primary:#333333;     /**/
$secondary:#45606a;
$color-link:#f68655;
$white:#ffffff;
$black:#000000;

$blue:#00adee;
$brown: #836e2e;
$gray:#B3B3B3;
$green:#00acac;
$orange:#f85203;
$purple:#652d90;      /**/
$red:#f35958;
$yellow:#f59c1a;
$gold:#e6c67d;        /**/

/*Light Colors*/
$light-primary:#f8a87e;
$light-secondary:#527481;

$light-blue:#b8c9d6;
$light-brown:#b8c9d6;
$light-gray:#f9f9f9;
$light-green:#7ac5c8;
$light-orange:#f7ab83;
$light-purple:#f7ab83;
$light-red:#e6777a;
$light-yellow:#e6777a;

/*Dark Colors*/
$dark-primary:#df8150;
$dark-secondary:#334850;

$dark-blue:#2f4050;
$dark-brown:#2f4050;
$dark-gray:#777777;
$dark-green:#26D26E;
$dark-orange:#fa6132;
$dark-purple:#fa6132;
$dark-red:#531a1f;
$dark-yellow:#531a1f;


/*Social Media*/
$facebook:#3c5a99;
$google:#C63D2D;
$instagram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;
$kijiji:#4c4b6d;
$craigslist:#5D008F;

/* Background Color classes */
.bg-primary{background: $primary !important}     /**/
.bg-secondary{background: $secondary;}
.bg-color-link{background:$color-link;}
.bg-white{background:$white;}
.bg-black{background:$black !important;}

.bg-blue{background: $blue !important;}
.bg-brown{background:$brown !important}
.bg-gray{background:$gray !important}
.bg-green{background: $green !important;}
.bg-orange{background:$orange !important}
.bg-purple{background: $purple !important;}         /**/
.bg-red{background:$red !important;}
.bg-yellow{background:$yellow !important;}
.bg-gold{background:$gold !important;}             /**/

.bg-light-blue{background:$light-blue !important}
.bg-light-brown{background:$light-brown !important}
.bg-light-gray{background:$light-gray !important}
.bg-light-green{background:$light-green !important}
.bg-light-orange{background:$light-orange !important}
.bg-light-purple{background:$light-purple !important}
.bg-light-red{background:$light-red !important}
.bg-light-yellow{background:$light-yellow !important}

.bg-dark-blue{background:$dark-blue !important}
.bg-dark-brown{background:$dark-brown !important}
.bg-dark-gray{background:$dark-gray !important}
.bg-dark-green{background:$dark-green !important}
.bg-dark-orange{background:$dark-orange !important}
.bg-dark-purple{background:$dark-purple !important}
.bg-dark-red{background:$dark-red !important}
.bg-dark-yellow{background:$dark-yellow !important}

.bg-facebook{background:$facebook !important}
.bg-google{background:$google !important}
.bg-instagram{background:$instagram !important}
.bg-pinterest{background:$pinterest !important}
.bg-linkedin{background:$linkedin !important}
.bg-twitter{background:$twitter !important}
.bg-vimeo{background:$vimeo !important}
.bg-youtube{background:$youtube !important}
.bg-kijiji{background:$kijiji !important}
.bg-craigslist{background:$craigslist !important}

.bg-transparent{background: transparent;}


/* Text-Color classes */
.color-primary{color: $primary;}                     /**/
.color-secondary{color: $secondary;}
.color-white{color: $white;}
.color-black{color: $black;}

.color-blue{color: $blue !important;}
.color-brown{color:$brown !important}
.color-gray{color:$gray !important}
.color-green{color: $green !important;}
.color-orange{color:$orange !important}
.color-purple{color: $purple !important;}              /**/
.color-red{color:$red !important;}
.color-yellow{color:$yellow !important;}
.color-gold{color:$gold !important;}                   /**/

.color-light-blue{color:$light-blue !important}
.color-light-brown{color:$light-brown !important}
.color-light-gray{color:$light-gray !important}
.color-light-green{color:$light-green !important}
.color-light-orange{color:$light-orange !important}
.color-light-purple{color:$light-purple !important}
.color-light-red{color:$light-red !important}
.color-light-yellow{color:$light-yellow !important}

.color-dark-blue{color:$dark-blue !important}
.color-dark-brown{color:$dark-brown !important}
.color-dark-gray{color:$dark-gray !important}
.color-dark-green{color:$dark-green !important}
.color-dark-orange{color:$dark-orange !important}
.color-dark-purple{color:$dark-purple !important}
.color-dark-red{color:$dark-red !important}
.color-dark-yellow{color:$dark-yellow !important}


/* Border-Color classes */
.brd-primary{border-color: $primary;}
.brd-secondary{border-color: $secondary;}
.brd-white{border-color: $white;}
.brd-black{border-color: $black;}

.brd-blue{border-color: $blue !important;}
.brd-brown{border-color:$brown !important}
.brd-gray{border-color:$gray !important}
.brd-green{border-color: $green !important;}
.brd-orange{border-color:$orange !important}
.brd-purple{border-color: $purple !important;}
.brd-red{border-color:$red !important;}
.brd-yellow{border-color:$yellow !important;}

.brd-light-blue{border-color:$light-blue !important}
.brd-light-brown{border-color:$light-brown !important}
.brd-light-gray{border-color:$light-gray !important}
.brd-light-green{border-color:$light-green !important}
.brd-light-orange{border-color:$light-orange !important}
.brd-light-purple{border-color:$light-purple !important}
.brd-light-red{border-color:$light-red !important}
.brd-light-yellow{border-color:$light-yellow !important}

.brd-dark-blue{border-color:$dark-blue !important}
.brd-dark-brown{border-color:$dark-brown !important}
.brd-dark-gray{border-color:$dark-gray !important}
.brd-dark-green{border-color:$dark-green !important}
.brd-dark-orange{border-color:$dark-orange !important}
.brd-dark-purple{border-color:$dark-purple !important}
.brd-dark-red{border-color:$dark-red !important}
.brd-dark-yellow{border-color:$dark-yellow !important}



/*--------------------------------------------------------------------------------------*/
/*----------------------------------------font-size---------------------------------------*/
/*--------------------------------------------------------------------------------------*/

.fts6 {font-size: 6px}
.fts7 {font-size: 7px}
.fts8 {font-size: 8px}
.fts9 {font-size: 9px}
.fts10 {font-size: 10px}
.fts11 {font-size: 11px}
.fts12 {font-size: 12px}
.fts13 {font-size: 13px}
.fts14 {font-size: 14px}
.fts15 {font-size: 15px}
.fts16 {font-size: 16px}
.fts17 {font-size: 17px}
.fts18 {font-size: 18px}
.fts19 {font-size: 19px}
.fts20 {font-size: 20px}
.fts21 {font-size: 21px}
.fts22 {font-size: 22px}
.fts23 {font-size: 23px}
.fts24 {font-size: 24px}
.fts25 {font-size: 25px}
.fts26 {font-size: 26px}
.fts27 {font-size: 27px}
.fts28 {font-size: 28px}
.fts29 {font-size: 29px}
.fts30 {font-size: 30px}
.fts31 {font-size: 31px}
.fts32 {font-size: 32px}
.fts33 {font-size: 33px}
.fts34 {font-size: 34px}
.fts35 {font-size: 35px}
.fts36 {font-size: 36px}
.fts37 {font-size: 37px}
.fts38 {font-size: 38px}
.fts39 {font-size: 39px}
.fts40 {font-size: 40px}
.fts41 {font-size: 41px}
.fts42 {font-size: 42px}
.fts43 {font-size: 43px}
.fts44 {font-size: 44px}
.fts45 {font-size: 45px}
.fts46 {font-size: 46px}
.fts47 {font-size: 47px}
.fts48 {font-size: 48px}
.fts49 {font-size: 49px}
.fts50 {font-size: 50px}
.fts51 {font-size: 51px}
.fts52 {font-size: 52px}
.fts53 {font-size: 53px}
.fts54 {font-size: 54px}
.fts55 {font-size: 55px}
.fts56 {font-size: 56px}
.fts57 {font-size: 57px}
.fts58 {font-size: 58px}
.fts59 {font-size: 59px}
.fts60 {font-size: 60px}


/*--------------------------------------------------------------------------------------*/
/*----------------------------------------line-height---------------------------------------*/
/*--------------------------------------------------------------------------------------*/

.lh6 {line-height: 6px}
.lh7 {line-height: 7px}
.lh8 {line-height: 8px}
.lh9 {line-height: 9px}
.lh10 {line-height: 10px}
.lh11 {line-height: 11px}
.lh12 {line-height: 12px}
.lh13 {line-height: 13px}
.lh14 {line-height: 14px}
.lh15 {line-height: 15px}
.lh16 {line-height: 16px}
.lh17 {line-height: 17px}
.lh18 {line-height: 18px}
.lh19 {line-height: 19px}
.lh20 {line-height: 20px}
.lh21 {line-height: 21px}
.lh22 {line-height: 22px}
.lh23 {line-height: 23px}
.lh24 {line-height: 24px}
.lh25 {line-height: 25px}
.lh26 {line-height: 26px}
.lh27 {line-height: 27px}
.lh28 {line-height: 28px}
.lh29 {line-height: 29px}
.lh30 {line-height: 30px}
.lh31 {line-height: 31px}
.lh32 {line-height: 32px}
.lh33 {line-height: 33px}
.lh34 {line-height: 34px}
.lh35 {line-height: 35px}
.lh36 {line-height: 36px}
.lh37 {line-height: 37px}
.lh38 {line-height: 38px}
.lh39 {line-height: 39px}
.lh40 {line-height: 40px}
.lh41 {line-height: 41px}
.lh42 {line-height: 42px}
.lh43 {line-height: 43px}
.lh44 {line-height: 44px}
.lh45 {line-height: 45px}
.lh46 {line-height: 46px}
.lh47 {line-height: 47px}
.lh48 {line-height: 48px}
.lh49 {line-height: 49px}
.lh50 {line-height: 50px}
.lh51 {line-height: 51px}
.lh52 {line-height: 52px}
.lh53 {line-height: 53px}
.lh54 {line-height: 54px}
.lh55 {line-height: 55px}
.lh56 {line-height: 56px}
.lh57 {line-height: 57px}
.lh58 {line-height: 58px}
.lh59 {line-height: 59px}
.lh60 {line-height: 60px}



/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Buttons---------------------------------------*/
/*--------------------------------------------------------------------------------------*/


/*.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}*/

.btn-gold {
  color: white;
  background-color: $gold;
  border-color: $gold;
  &:hover{
    color: $purple;
  }
}



/* NEW BTN BORDER */

.btn-hover {
  &:hover {
    opacity: 0.8;
  }
}

.btn-custom-black {
  color:$black;
  background-color: $white;
  border: 2px solid $black;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $black;
    box-shadow: none;
  }
}

.btn-custom-blue {
  color:$blue;
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $blue;
    box-shadow: none;
  }
}

.btn-custom-brown {
  color:$brown;
  background-color: $white;
  border: 2px solid $brown;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $brown;
    box-shadow: none;
  }
}

.btn-custom-gray {
  color:$gray;
  background-color: $white;
  border: 2px solid $gray;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $gray;
    box-shadow: none;
  }
}

.btn-custom-green {
  color:$green;
  background-color: $white;
  border: 2px solid $green;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $green;
    box-shadow: none;
  }
}

.btn-custom-orange {
  color:$orange;
  background-color: $white;
  border: 2px solid $orange;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $orange;
    box-shadow: none;
  }
}

.btn-custom-purple {
  color:$purple;
  background-color: $white;
  border: 2px solid $purple;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $purple;
    box-shadow: none;
  }
}

.btn-custom-purchase {
  color:$purple !important;
  background-color: $white;
  border: 2px solid $gold;
  border-radius: 25px;
  padding: 5px 17px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $purple !important;
    border: 2px solid $purple !important;
    box-shadow: none;
  }
}

.btn-custom-purchase-noborder {
  color:$purple !important;
  background-color: $white;
  border: 2px solid $gold;
  border-radius: 2px;
  padding: 5px 17px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $purple !important;
    border: 2px solid $purple !important;
    box-shadow: none;
  }
}

.btn-custom-purchase-reverse {
  color:$purple !important;
  background-color: $white;
  border: 2px solid $purple;
  border-radius: 25px;
  padding: 5px 17px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $gold !important;
    border: 2px solid $gold !important;
    box-shadow: none;
  }
}

.btn-custom-red {
  color:$red;
  background-color: $white;
  border: 2px solid $red;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $red;
    box-shadow: none;
  }
}

.btn-custom-yellow {
  color:$yellow;
  background-color: $white;
  border: 2px solid $yellow;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $yellow;
    box-shadow: none;
  }
}

.btn-custom-light-blue {
  color:$light-blue;
  background-color: $white;
  border: 2px solid $light-blue;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $light-blue;
    box-shadow: none;
  }
}

.btn-custom-light-brown {
  color:$light-brown;
  background-color: $white;
  border: 2px solid $light-brown;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $light-brown;
    box-shadow: none;
  }
}

.btn-custom-light-gray {
  color:$light-gray;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $light-gray;
    box-shadow: none;
  }
}

.btn-custom-light-green {
  color:$light-green;
  background-color: $white;
  border: 2px solid $light-green;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $light-green;
    box-shadow: none;
  }
}

.btn-custom-light-orange {
  color:$light-orange;
  background-color: $white;
  border: 2px solid $light-orange;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $light-orange;
    box-shadow: none;
  }
}

.btn-custom-light-purple {
  color:$light-purple;
  background-color: $white;
  border: 2px solid $light-purple;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $light-purple;
    box-shadow: none;
  }
}

.btn-custom-light-red {
  color:$light-red;
  background-color: $white;
  border: 2px solid $light-red;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $light-red;
    box-shadow: none;
  }
}

.btn-custom-light-yellow {
  color:$light-yellow;
  background-color: $white;
  border: 2px solid $light-yellow;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $light-yellow;
    box-shadow: none;
  }
}

.btn-custom-dark-blue {
  color:$dark-blue;
  background-color: $white;
  border: 2px solid $dark-blue;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $dark-blue;
    box-shadow: none;
  }
}

.btn-custom-dark-brown {
  color:$dark-brown;
  background-color: $white;
  border: 2px solid $dark-brown;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $dark-brown;
    box-shadow: none;
  }
}

.btn-custom-dark-gray {
  color:$dark-gray;
  background-color: $white;
  border: 2px solid $dark-gray;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $dark-gray;
    box-shadow: none;
  }
}

.btn-custom-dark-green {
  color:$dark-green;
  background-color: $white;
  border: 2px solid $dark-green;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $dark-green;
    box-shadow: none;
  }
}

.btn-custom-dark-orange {
  color:$dark-orange;
  background-color: $white;
  border: 2px solid $dark-orange;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $dark-orange;
    box-shadow: none;
  }
}

.btn-custom-dark-purple {
  color:$dark-purple;
  background-color: $white;
  border: 2px solid $dark-purple;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $dark-purple;
    box-shadow: none;
  }
}

.btn-custom-dark-red {
  color:$dark-red;
  background-color: $white;
  border: 2px solid $dark-red;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $dark-red;
    box-shadow: none;
  }
}

.btn-custom-dark-yellow {
  color:$dark-yellow;
  background-color: $white;
  border: 2px solid $dark-yellow;
  border-radius: 25px;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $dark-yellow;
    box-shadow: none;
  }
}


/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Errors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.has-error .form-control::-moz-placeholder {color: $dark-red;}
.has-error .form-control:-ms-input-placeholder {color: $dark-red;}
.has-error .form-control::-webkit-input-placeholder {color:$dark-red;}

.form-group .has-error {
  margin-bottom:6px;
  &.help-block{
    margin-bottom:4px;
  }
}

/*need to finish this up*/
/*#error_explanation {
  background-color: gray;
  border: 2px solid orange;
}
#error_explanation > h2{
  background-color: red;
}
#error_explanation > ul > li{
  background-color: blue;
}*/


/* From Michael Hartl */
/*#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
 }*/



/*
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: 100%;
  h2 {
    margin-top: 10px;
    font-size: 16px;
  }
  ul {
    margin-top: 2em;
  }
}
*/

/*--------------------------------------------------------------------------------------*/
/*-----------------------------------Margin & Padding-----------------------------------*/
/*--------------------------------------------------------------------------------------*/
$a:0;
@while $a <= 500{
  // Margin
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px !important;}
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mAll#{$a}{margin: $a*1px !important;}

  // Padding
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important; }
  .pl#{$a}{padding-left: $a*1px !important; }
  .pr#{$a}{padding-right: $a*1px !important; }
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a <= 14{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}

/*Variables SCSS*/
$default-transition-duration : 1.2s;


/*Boostrap Media Query*/
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$padding-screen:15px;




/*----------------------------------------------Media Queries------------------------------------------*/

@media only screen and (max-width: 1199px) {
  .noshow1199andunder {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .noshow991andunder {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .noshow767andunder {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .show991andunder {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .show767andunder {
    display: none;
  }
}


