<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <span>Toggle Sidebar</span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" target="_blank">Visit Site</a></li>
                <li><a href="#"><%= current_user.email %></a></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            </ul>
        </div>
    </div>
</nav>

<%= render 'admin/layouts/flash_messages' %>
