<style>

  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */
  .wrapper {
      display: flex;
      align-items: stretch;
  }

  #sidebar {
      min-width: 250px;
      max-width: 250px;
      background: #652d90;
      color: #fff;
      transition: all 0.3s;
  }

  #sidebar.active {
      margin-left: -250px;
  }

  #sidebar .sidebar-header {
      padding: 20px;
      background: #652d90;
  }

  #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #e6c67d;
  }

  #sidebar ul p {
      color: #fff;
      padding: 10px;
  }

  #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      color: white;
  }
  #sidebar ul li a:hover {
      color: white;
      background: transparent;
  }

  #sidebar ul li.active > a, a[aria-expanded="true"] {
      color: #fff;
      background: transparent;
  }


  #sidebar a[data-toggle="collapse"] {
      position: relative;
  }

  #sidebar a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
      content: '\2193';
      display: block;
      position: absolute;
      right: 20px;
      /*font-family: 'Glyphicons Halflings';*/
      font-size: 0.6em;
  }

  #sidebar a[aria-expanded="true"]::before {
      content: '\2191';
  }


  #sidebar ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #652d90;
  }


  /* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
  #content {
      padding: 20px;
      min-height: 100vh;
      transition: all 0.3s;
      /*background-color: #eee;*/
      width: 100%;
  }

  #content .navbar {
      padding: 15px 10px;
      background: #fff;
      border: none;
      border-radius: 0;
      margin-bottom: 40px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  #content .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
  }

  @media (max-width: 768px) {
      #sidebar {
          margin-left: -250px;
      }
      #sidebar.active {
          margin-left: 0;
      }
/*      #sidebarCollapse span {
          display: none;
      }*/
  }
</style>




<script type="text/javascript">
   $(document).ready(function () {
       $('#sidebarCollapse').on('click', function () {
           $('#sidebar').toggleClass('active');
       });
   });
</script>