<nav id="sidebar">
    <!-- <div style="position:fixed;"> -->
        <div class="sidebar-header">
            <a href="/admin"><img src="//s3.us-east-2.amazonaws.com/moabs1/general/MOABS-full-RGB.jpg" alt="" class="img-responsive" width="210"></a>
        </div>
        <% if current_user.try(:admin) %>
        <ul class="list-unstyled components">
            <!-- <li class="active"> -->
            <li class="">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="/admin/pages/home">Home Page</a></li>
                    <li><a href="/admin/pages/about-moabs">About Moabs</a></li>
                    <li><a href="/admin/pages/about-amy">About Amy</a></li>
                    <li><a href="/admin/edit_press_page">Press Page</a></li>
                    <li><a href="/admin/pages/partner-with-us">Partner With Us</a></li>
                </ul>
            </li>
            <li class="">
                <a href="#eventSubmenu" data-toggle="collapse" aria-expanded="false">Events</a>
                <ul class="collapse list-unstyled" id="eventSubmenu">
                    <li><a href="/admin/event_index_images">Index</a></li>
                    <li><a href="/admin/events">Individual Events</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/faqs">Event FAQ's</a>
            </li>
            <li class="">
                <a href="#blogSubmenu" data-toggle="collapse" aria-expanded="false">Blogs</a>
                <ul class="collapse list-unstyled" id="blogSubmenu">
                    <li><a href="/admin/blog_index_images">Index</a></li>
                    <li><a href="/admin/blogs">Individual Blogs</a></li>
                </ul>
            </li>            
            <li>
                <a href="/admin/categories">Blog Categories</a>
            </li>
            <li class="">
                <a href="#imageSubmenu" data-toggle="collapse" aria-expanded="false">Gallery / Slideshow Images</a>
                <ul class="collapse list-unstyled" id="imageSubmenu">
                    <li><a href="/admin/pages/images">Page</a></li>
                    <li><a href="/admin/events/images">Event</a></li>
                    <li><a href="/admin/partners/images">Partner</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/partners">Partners</a>
            </li>
            <li>
                <a href="/admin/users">Users</a>
            </li>
        </ul>
        <% else %>
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin/partners">Partners</a>
                </li>
                <li>
                    <a href="/admin/partners/images">Slideshow Images</a>
                </li>
            </ul>
        <% end %>

        <ul class="list-unstyled mt25">
          <li class="fts16"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        </ul>
    <!-- </div> -->
</nav>