<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">List images &nbsp;<a href="/admin/images/new" class="btn btn-primary">Add new</a></h1>


        <%= form_tag admin_images_path, id: "search_images", method: 'get' do%>
          <div class="form-group">
            <%= select_tag "event", options_from_collection_for_select(Event.all, "id", "title_for_slug"), prompt: "Select Event" %> <br>
            <%#= select_tag "blog", options_from_collection_for_select(Blog.all, "id", "title_for_slug"), prompt: "Select Blog"  %>
          </div>
          <%= submit_tag "Search", name: nil, class: "" %> <!-- so that it doesnt show up in the params -->
        <% end %>



        
          <div>
              <% @mymodel.images.each do |image| %>
                <div class="row mt20">
                    <div class="col-md-12">
                      <h4 class=""><%= image.pic_file_name %></h4>
                      <h4 class=""><%= image_tag(image.pic.url(:medium)) %></h4>
                    </div>
                </div>
                <hr>
              <% end if @mymodel.present? %>
          </div>

          <div id="gallery_images" data-update-url="<%= admin_sort_images_path %>">
            <% @mymodel.images.each do | img | %>
              <div id="gallery_image_<%= img.id %>" class="col-md-4 col-sm-6 item-img">
                <!-- <span class="handle">[drag]</span> -->
                <img src="<%= img.pic.url(:medium) %>" alt="" class="img-responsive" />
              </div>
            <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

