<% if false %>

<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">List users &nbsp;<a href="/admin/users/new" class="btn btn-primary">Add new</a></h1>
        
          <div>
              <% @users.each do |user| %>
                <div class="row mt20">

                    <div class="col-md-12 col-sm-12">
                      <h4 class=""><%= user.email %></h4>

                      <%= link_to 'Edit', edit_admin_user_path(user.id), class:"btn btn-warning" %>

                      <%= link_to 'Destroy', admin_user_path(user.id), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
                <hr>
              <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

<% end %>






<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit User</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">
              <%= form_for(@user, :url => (update_user_path(@user))) do |f| %>
                <% if @user.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="form-group">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: " btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>
