<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">List users &nbsp;<a href="/admin/users/new" class="btn btn-primary">Add new</a></h1>
        
          <div>
              <% @users.order(id: :asc).each do |user| %>
                <div class="row mt20">

                    <div class="col-md-12 col-sm-12">
                      <h4 class=""><%= user.email %></h4>

                      <%= link_to 'Edit', edit_admin_user_path(user.id), class:"btn btn-warning" %>

                      <%= link_to 'Destroy', admin_user_path(user.id), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if !user.try(:admin) %>
                    </div>
                </div>
                <hr>
              <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

