<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit Blog</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">

              <%= form_for(@blog, :url => (admin_update_blog_path(@blog.title_for_slug)), :html => { :multipart => true }) do |f| %>
                <% if @blog.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

                    <ul>
                    <% @blog.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :title %>
                  <%= f.text_field :title, class: "form-control", required: true %>
                </div>
                
                <div class="form-group">
                  <%= f.label :main_image %>
                  <%= "<br>".html_safe if @blog.main_image.present? %>
                  <%= image_tag(@blog.main_image.url(:medium), width: "180px") if @blog.main_image.present? %>
                  <%= "<br><br>".html_safe if @blog.main_image.present? %>
                  <%= f.file_field :main_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :content %>
                  <%= f.cktext_area :content, class: "form-control ckeditor", required: true %>
                </div>

                <div class="form-group">
                  <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: "Select Category"}, {class: "form-control", required: true} %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_description %>
                  <%= f.text_field :meta_description, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_keywords %>
                  <%= f.text_field :meta_keywords, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :pubdate %><br>
                  <%= f.date_field :pubdate, value: Date.today, class:'form-control', required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :side_ad_link %><br>
                  <%= f.text_field :side_ad_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :side_ad %>
                  <%= "<br>".html_safe if @blog.side_ad.present? %>
                  <%= image_tag(@blog.side_ad.url(:medium), width: "180px") if @blog.side_ad.present? %>
                  <%= "<br><br>".html_safe if @blog.side_ad.present? %>
                  <%= f.file_field :side_ad %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_one_link %><br>
                  <%= f.text_field :bottom_ad_one_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_one %>
                  <%= "<br>".html_safe if @blog.bottom_ad_one.present? %>
                  <%= image_tag(@blog.bottom_ad_one.url(:medium), width: "180px") if @blog.bottom_ad_one.present? %>
                  <%= "<br><br>".html_safe if @blog.bottom_ad_one.present? %>
                  <%= f.file_field :bottom_ad_one %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_two_link %><br>
                  <%= f.text_field :bottom_ad_two_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_two %>
                  <%= "<br>".html_safe if @blog.bottom_ad_two.present? %>
                  <%= image_tag(@blog.bottom_ad_two.url(:medium), width: "180px") if @blog.bottom_ad_two.present? %>
                  <%= "<br><br>".html_safe if @blog.bottom_ad_two.present? %>
                  <%= f.file_field :bottom_ad_two %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_three_link %><br>
                  <%= f.text_field :bottom_ad_three_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_three %>
                  <%= "<br>".html_safe if @blog.bottom_ad_three.present? %>
                  <%= image_tag(@blog.bottom_ad_three.url(:medium), width: "180px") if @blog.bottom_ad_three.present? %>
                  <%= "<br><br>".html_safe if @blog.bottom_ad_three.present? %>
                  <%= f.file_field :bottom_ad_three %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>


          <div class="row mt70">
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad one" if @blog.bottom_ad_one.present? %></p>
              <%= image_tag(@blog.bottom_ad_one.url(:medium), class: "img-responsive", width: '100%') if @blog.bottom_ad_one.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_blogs_bottom_ad_one_path(@blog.title_for_slug), style: "color: red;", method: :delete if @blog.bottom_ad_one.present? %></span>
              <br><br>
            </div>
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad two" if @blog.bottom_ad_two.present? %></p>
              <%= image_tag(@blog.bottom_ad_two.url(:medium), class: "img-responsive", width: '100%') if @blog.bottom_ad_two.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_blogs_bottom_ad_two_path(@blog.title_for_slug), style: "color: red;", method: :delete if @blog.bottom_ad_two.present? %></span>
              <br><br>
            </div>
            <div class="col-md-4" style="position: relative;">
              <p><%= "Bottom ad three" if @blog.bottom_ad_three.present? %></p>
              <%= image_tag(@blog.bottom_ad_three.url(:medium), class: "img-responsive", width: '100%') if @blog.bottom_ad_three.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_blogs_bottom_ad_one_path(@blog.title_for_slug), style: "color: red;", method: :delete if @blog.bottom_ad_three.present? %></span>
              <br><br>
            </div>
            <div class="col-md-4" style="position: relative;">
              <p><%= "Side" if @blog.side_ad.present? %></p>
              <%= image_tag(@blog.side_ad.url(:medium), class: "img-responsive", width: '100%') if @blog.side_ad.present? %>
              <span class="fts20 color-red" style="position: absolute; top: 20px; right:22px; color: red;"><%= link_to 'X', admin_delete_blogs_side_ad_path(@blog.title_for_slug), style: "color: red;", method: :delete if @blog.side_ad.present? %></span>
              <br><br>
            </div>
          </div>

        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>