<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">List blogs &nbsp;<a href="/admin/blogs/new" class="btn btn-primary">Add new</a></h1>
        
          <div>
              <% @blogs.each do |blog| %>
                <div class="row mt20">
                    <div class="col-md-3 col-sm-4">
                      <%= image_tag(blog.main_image.url(:medium), class:'img-responsive') %>
                    </div>

                    <div class="col-md-9 col-sm-8">
                      <h4 class=""><%= blog.title %></h4>

                      <p class="small"><%= blog.pubdate.strftime("%B %d, %Y") %></p>

                      <div class="mt15 mb15">
                        <%= HTML_Truncator.truncate(blog.content_index, 50).html_safe %>
                      </div>

                      <%= link_to 'Edit', admin_edit_blog_path(blog.title_for_slug), class:"btn btn-warning" %>

                      <%= link_to 'Destroy', admin_destroy_blog_path(blog.title_for_slug), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
                <hr>
              <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

