<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Create Blog</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">

              <%= form_for(@blog, :url => (admin_blogs_url), :html => { :multipart => true }) do |f| %>
                <% if @blog.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

                    <ul>
                    <% @blog.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :title %>
                  <%= f.text_field :title, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :main_image %>
                  <%= f.file_field :main_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :content %>
                  <%= f.cktext_area :content, class: "form-control ckeditor", required: true %>
                </div>

                <div class="form-group">
                  <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: "Select Category"}, {class: "form-control", required: true} %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_description %>
                  <%= f.text_field :meta_description, class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :meta_keywords %>
                  <%= f.text_field :meta_keywords, class: "form-control" %>
                </div>



                <div class="form-group">
                  <%= f.label :pubdate %><br>
                  <%= f.date_field :pubdate, value: Date.today, class:'form-control', required: true %>
                </div>
                
                <div class="form-group">
                  <%= f.label :side_ad_link %><br>
                  <%= f.text_field :side_ad_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :side_ad %><br>
                  <%= f.file_field :side_ad %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_one_link %><br>
                  <%= f.text_field :bottom_ad_one_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_one %><br>
                  <%= f.file_field :bottom_ad_one %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_two_link %><br>
                  <%= f.text_field :bottom_ad_two_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_two %><br>
                  <%= f.file_field :bottom_ad_two %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_three_link %><br>
                  <%= f.text_field :bottom_ad_three_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_three %><br>
                  <%= f.file_field :bottom_ad_three %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>

