
<% if false %>
  <%= form_for Contact.new, :html => { :id => "new_contact" }, :url => contacts_url do |f| %>
    <div class=" control-group">
      <div class="form-group col-xs-12">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true, data: {validation_required_message: "Please enter your name."} %>
      </div>
    </div>
    <div class=" control-group">
      <div class="form-group col-xs-12">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true, data: {validation_required_message: "Please enter your email."} %>
      </div>
    </div>
    <div class=" control-group">
      <div class="form-group col-xs-12">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number", required: true, data: {validation_required_message: "Please enter your phone number."} %>
      </div>
    </div>
    <div class=" control-group">
      <div class="form-group col-xs-12">
        <%= f.label :message %>
        <%= f.text_area :message, class: "form-control", placeholder: "Message", required: true, rows: 3, data: {validation_required_message: "Please enter your message."} %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.submit "Send", class: "btn btn-success btn-lg" %>
      </div>
    </div>
  <% end %>
<% end %>


<% if false %>
<a href="#" class="btn btn-custom-purchase-reverse" data-toggle="modal" data-target="#myModal">Join Us</a>
<% end %>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div style="padding: 15px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body sharelisting">
          <div class="form-group col-xs-12 mb30">
            <h3 class="modal-title color-gold">Newsletter Registration</h3>
            <h4 class="modal-title color-purple">Register for our newsletter now to get $10 off a MOABS event of your choice!</h4>
          </div>
        <%= form_for Contact.new, :html => { :id => "new_contact" }, :url => contacts_url do |f| %>

        <div class="control-group">
          <div class="form-group col-xs-12">
            <b>Name*</b>
            <%= f.text_field :name, class: "no-border", placeholder: "", required: true, size: 30 %>
          </div>
        </div>

        <div class="control-group">
          <div class="form-group col-xs-12">
            <b>Email*</b>
            <%= f.text_field :email, class: "no-border", placeholder: "", required: true, size: 30 %>
          </div>
        </div>
          
        <div class="control-group">
          <div class="form-group col-xs-12">
            <b>ZIP</b>
            <%= f.text_field :zip, class: "no-border", placeholder: "", required: false, size: 33 %>
          </div>
        </div>
          
        <div class="control-group">
          <div class="form-group col-xs-12">
            <p style="padding-top: 15px"><b>I am a:</b></p>
          </div>
        </div>
          

         <div style="width: 40%; float: left; margin-left: 13px;">
          <input class='square' type="checkbox" name="categories[]" value="new_parent">
          <label for="new_parent">New Parent</label>
         </div>
          
         <div style="width: 55%; float: left;">
          <input class='square' type="checkbox" name="categories[]" value="expectant_parent">
          <label for="expectant_parent">Expectant Parent</label>
         </div>

          
         <div style="width: 40%; float: left; margin-left: 13px">
          <input class='square' type="checkbox" name="categories[]" value="blogger">
          <label for="planning">Blogger</label>
         </div>
          
         <div style="width: 55%; float: left;">
          <input class='square' type="checkbox" name="categories[]" value="planning">
          <label for="support">Planning to get Pregnant</label>
         </div>
          
        <div style="width: 40%; float: left; margin-left: 13px;">
         <input class='square' type="checkbox" name="categories[]" value="event">
         <label for="blogger">Event Partner</label>
        </div>
          
        <div style="width: 55%; float: left; margin-bottom: 20px">
         <input class='square' type="checkbox" name="categories[]" value="support">
         <label for="event">Support System Member</label>
        </div>
          
          </div>
      <div style="padding: 15px; text-align: left;" class="form-group">
        <%= f.submit "Subscribe", class: "btn btn-custom-purchase", id: "subscribe_button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $("#subscribe_button").on("click", function(e) {
      e.preventDefault();//prevent default action 
      console.log("esh");
      setTimeout(function () {
        $("#new_contact").submit();
      }, 1000); // in milliseconds
      $("#subscribe_button").after("<p style='text-align: center'>Thank you</p>");
    });
  });
</script>
<!-- <p style="text-align: center">Thank you</p> -->





