<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <div class="alert alert-success"><%= value %><button class="close" data-dismiss="alert">×</button></div>
  <% elsif key == "alert" %>
    <div class="alert alert-danger"><%= value %><button class="close" data-dismiss="alert">×</button></div>
  <% else %>
    <div class="alert alert-<%= key %>"><%= value %><button class="close" data-dismiss="alert">×</button></div>
  <% end %>
<% end %>