<footer class="bg-purple">
  <div class="container pt25 pb25">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <h4><a href="#" data-toggle="modal" data-target="#myModal">Subscribe</a></h4>
      </div>
      <div class="col-md-2 col-sm-2">
        <h4><a href="mailto:events@smallfrysociety.com">Contact</a></h4>
      </div>
      <div class="col-md-2 col-sm-2 hidden-xs"></div>
      <div class="col-md-6">
        <!-- <a href="https://www.snapchat.com/add/kco727" target="blank"><img src="//s3.amazonaws.com/shared-social-media/general/snapchat.png" alt="" width="30"></a> -->
        <!-- <a href="#"><img src="//s3.amazonaws.com/shared-social-media/general/snapchat.png" alt="" width="30"></a> -->
        <a href="https://www.instagram.com/the_moabs/" target="blank"><img src="//s3.amazonaws.com/shared-social-media/general/instagram.png" alt="" width="30"></a>
        <a href="https://www.facebook.com/TheMOABS" target="blank"><img src="//s3.amazonaws.com/shared-social-media/general/facebook.png" alt="" width="30"></a>
        <!-- <a href="#"><img src="//s3.amazonaws.com/shared-social-media/general/youtube.png" alt="" width="30"></a> -->
        <a href="https://twitter.com/the_moabs" target="blank"><img src="//s3.amazonaws.com/shared-social-media/general/twitter.png" alt="" width="30"></a>
        <a href="https://www.pinterest.com/the_MOABS/" target="blank"><img src="//s3.amazonaws.com/shared-social-media/general/pinterest.png" alt="" width="30"></a>
      </div>
    </div>
  </div>
</footer>