<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="//s3.us-east-2.amazonaws.com/moabs1/general/MOABS-RGB-web.png" alt="" width="100"></a>
      <div class="text-center">
      <a class="btn btn-custom-purchase btn-custom-purchase-mobile show767andunder text-center" href="https://themotherofallbabyshowers.ticketleap.com/" target="_blank">Purchase Tickets</a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/events">Our Cities<span class="sr-only">(current)</span></a></li>
        <!-- <li class=""><a href="/">Our Story</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Story <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about-moabs">About MOABS</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/about-amy">About Amy</a></li>
          </ul>
        </li>
        <li><a href="/blogs">Real Talk</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partners <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/partners">Featured Partners</a></li>
            <li><a href="/partner-with-us">Partner With Us</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right noshow767andunder">
        <li><a href="https://themotherofallbabyshowers.ticketleap.com/" class="btn btn-custom-purchase" target="_blank">Purchase Tickets</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>