<!DOCTYPE html>
<html>
  <head>
<title><%= "#{yield(:title)}" if yield(:title).present? %></title>


    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <%= yield(:head) %>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag "//s3.us-east-2.amazonaws.com/moabs1/general/MOABS_favicon.jpg", rel: "icon", type: "image/jpg"%>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA6kYLamOhbypp2KYN7fYwgSiEbDYNaQL4" if (action_name == "our_events" || action_name == "index") %>
    

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script async defer data-pin-hover="true" data-pin-lang="en" src="https://assets.pinterest.com/js/pinit.js"></script>
    
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" %>

      <% if Rails.env.production? %>
<!--         <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-XXXXXXXX-X', 'auto');
        </script> -->

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113997816-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-113997816-1');
        </script>
      <% end %>
  </head>

  <body class='<%= "#{controller_path} #{action_name} #{devise_controller? ? 'devise' : nil}"%>'>
    
    <%= render 'layouts/nav' if !controller_path.start_with?('admin') %>

    <%= yield %>

    <%= render 'layouts/footer' if !controller_path.start_with?('admin') %>

    <%= render 'layouts/contact_popup'%>


    <%= "<div style='margin-top:148px;'></div>".html_safe if Rails.env.development? %>
    <%= console if Rails.env.development? %>
  </body>
</html>
