<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit Press Page</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">

              <%= form_for(@press_page, :url => (admin_update_press_page_path), :html => { :multipart => true }) do |f| %>
                <% if @press_page.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@press_page.errors.count, "error") %> prohibited this press from being saved:</h2>

                    <ul>
                    <% @press_page.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :main_image %>
                  <%= "<br>".html_safe if @press_page.main_image.present? %>
                  <%= image_tag(@press_page.main_image.url(:medium), width: "180px") if @press_page.main_image.present? %>
                  <%= "<br><br>".html_safe if @press_page.main_image.present? %>  
                  <%= f.file_field :main_image, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :video_link %>
                  <%= f.text_field :video_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.cktext_area :description, class: "form-control ckeditor" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>