<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">Edit Press Index Images</h1>
        
        <div>
          <div class="row">
            <div class="col-md-12">
              <%= form_for(@press_index, :url => admin_press_index_images_update_url, :html => { :multipart => true }) do |f| %>
                <% if @press_index.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@press_index.errors.count, "error") %> prohibited this Event Index Image from being saved:</h2>

                    <ul>
                    <% @press_index.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :bottom_ad_one_link %>
                  <%= f.text_field :bottom_ad_one_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_one %>
                  <%= f.file_field :bottom_ad_one, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_two_link %>
                  <%= f.text_field :bottom_ad_two_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_two %>
                  <%= f.file_field :bottom_ad_two, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_three_link %>
                  <%= f.text_field :bottom_ad_three_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :bottom_ad_three %>
                  <%= f.file_field :bottom_ad_three, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :side_ad_link %>
                  <%= f.text_field :side_ad_link, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :side_ad %>
                  <%= f.file_field :side_ad, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Submit", class: "form-control btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>