<div class="wrapper">

    <%= render 'admin/layouts/sidebar' %>
    
    <div id="content">

        <%= render 'admin/layouts/sidebar_topnav' %>

        <h1 class="mb30">List press &nbsp;<a href="/admin/press/new" class="btn btn-primary">Add new</a></h1>
        
          <div>
              <% @press.each do |press| %>
                <div class="row mt20">
                    <div class="col-md-3 col-sm-4">
                      <%= image_tag(press.main_image.url(:medium), class:'img-responsive') %>
                    </div>

                    <div class="col-md-9 col-sm-8">
                      <h4 class=""><%= press.title %></h4>

                      <p class="small"><%= press.pubdate.strftime("%B %d, %Y") %></p>

                      <div class="mt15 mb15">
                        <%= HTML_Truncator.truncate(press.content_index, 50).html_safe %>
                      </div>

                      <%= link_to 'Edit', admin_edit_press_path(press.title_for_slug), class:"btn btn-warning" %>

                      <%= link_to 'Destroy', admin_destroy_press_path(press.title_for_slug), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
                <hr>
              <% end %>
          </div>
        

    </div> <!-- content  -->

</div> <!-- wrapper  -->


<%= render 'admin/layouts/sidebar_styles_scripts' %>



















<% if false %>
<section class="bg-light-grey">

  <div class="container">
  <%= link_to 'New Blog', new_blog_path, class:"btn btn-primary" if current_user.try(:admin?)%>

    <% @blogs.each do |blog| %>
    <div class="row">
      
      <div class="col-sm-4 mb15">
        <%= link_to blog_path(blog.title_for_slug) do %> 
          <%= image_tag(blog.images[0].pic.url(:medium), class:'img-responsive') if blog.images.present?%>
        <% end %>
      </div>
      <div class="col-sm-8">
        <h4><%= link_to blog.title, blog_path(blog.title_for_slug), class: 'h2' %></h4>
        <p><%= HTML_Truncator.truncate(blog.content_index, 150).html_safe %></p>
        <div class="mt30 pull-right">
          <%= link_to 'Read More', blog_path(blog.title_for_slug), class:"btn btn-primary" %>
          <%= link_to 'Edit', edit_blog_path(blog.title_for_slug), class:"btn btn-primary" if current_user.try(:admin?)%>
          <%= link_to 'Destroy', blog_path(blog.title_for_slug), class:"btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
        </div>
      </div>
    </div>
  <% end %>

  </div>
  
</section>
<% end %>